/* .menuIcon img {
  height: 17px;
  padding-right: 3px;
  box-shadow: 0 3px 10px rgba(184, 173, 173, 0.2);
} */

.docsPopover .ant-popover-inner-content {
  padding: 5px;
}

.ApproverModal .ant-modal-body {
  height: 350px;
  max-height: 431px;
  overflow: scroll;
}
