.FeatureSelect {
  border: 1px solid #b3bed5;
  padding: 8px 14px 0px 9px;
  border-radius: 10px;
}

.FeatureSelect h4 {
  margin: 7px 0px 0px 0px;
  line-height: 1;
}

.imageBox {
  background: transparent;
  padding: 8px 12px 0px 12px;
  border-radius: 4px;
  max-height: 48px;
  margin: 0px 10px 0px 0px;
 
}

.radioBtn {
  margin-top: 13px;
}

.radioSelected {
  background: var(--currentThemeColor);
}

.radioSelected h4 {
  color: white;
}

.radioSelected p {
  color: white;
}