.requisation-container{
  background: white;
  border-radius: 10px;
  margin-top: 10px;
  width: 50%;
  height: 300px;
  padding: 13px 10px;
  /* margin: 2px 0px 0px 0px; */
  position: relative;
}
.approve-btn{
    background: green !important;
    border: "none";
    border-radius: 5px;
    /* //borderRadius: "5px"; */
    direction:"vertical";
    size:"middle";
    display: 'flex';
    
}

.copy-btn{
    background: primary !important;
    border: "none";
    border-radius: 5px;
    /* //borderRadius: "5px"; */
    direction:"vertical";
    size:"middle";
    display: 'flex';
    margin-left: 1%;
    
}
.left{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.left-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}