.stickyNoteItem__container {
  display: flex;
  z-index: 10;
  flex-direction: column;
  border: none;
  resize: both;
  overflow: auto;
  width: 300px;
  bottom: auto;
  right: auto;
  max-width: 600px;
  max-height: 600px;
  height: 260px;
  min-width: 186px;
  min-height: 186px;
  box-shadow: 0 5px 5px -3px rgb(0 0 0 / 20%), 0 8px 10px 1px rgb(0 0 0 / 14%),
    0 3px 14px 2px rgb(0 0 0 / 12%);
  position: absolute;
}
.stickyNoteItem__item {
  padding: 0px 8px;
  background-color: rgb(119, 200, 253);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 30px;
  width: 100%;
  flex-direction: row;
  cursor: move;
}
.stickyNoteItem__title {
  flex: 1;
}
.stickyNoteItem__title input {
  background-color: transparent;
  height: 100%;
  width: 100%;
  font-size: 15px;
  font-weight: 700;
  outline: none;
}
.stickyNoteItem__icons {
  display: flex row;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
}
.stickyNoteItem__textarea {
  height: 100%;
  width: inherit;
  max-width: 600px;
  max-height: 600px;
  outline: none;
  border: none;
  margin: 0;
  font-size: 16px;
  resize: none;
  padding: 5px;
}
