.note-container {
  height: 400px;
  background-color: #ebecf0;
  width: 25%;
  max-height: 320px;
  position: absolute;
  top: 50%;
  left: 50%;
  cursor: move;
  z-index: 10;
}
.note-header {
  padding: 7px;
  cursor: move;
  z-index: 10;
  font-size: 14px;
  letter-spacing: 1px;
  background-color: rgb(33, 150, 243);
  color: rgb(255, 255, 255);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.note__add-btn,
.note__minus-btn,
.note__close-btn {
  font-size: 1.5rem;
}
.closeAndMinimize {
  width: 8%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.note-searchBar-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  height: 40px;
}
.note-searchBar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 95%;
  height: 80%;
  background-color: #e0e0e0;
  border-radius: 20px;
}
.note-searchBar-input {
  width: 90% !important;
  background-color: transparent;
}
.noteList__sec {
  padding: 5px;
  overflow-y: auto;
  height: auto;
  max-height: 580px;
}

/* Sticky Note Item */
.stickyNote-item__container {
  z-index: 10;
  border: none;
  resize: both;
  overflow: auto;
  width: 300px;
  bottom: 20%;
  right: 20%;
  max-width: 600px;
  max-height: 600px;
  height: 260px;
  min-width: 186px;
  min-height: 186px;
  box-shadow: 0 5px 5px -3px rgb(0 0 0 / 20%), 0 8px 10px 1px rgb(0 0 0 / 14%),
    0 3px 14px 2px rgb(0 0 0 / 12%);
  position: absolute;
}
.stickyNote-item__item {
  padding: 0px 8px;
  background-color: rgb(119, 200, 253);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 30px;
  width: 100%;
  flex-direction: row;
  cursor: move;
}
.stickyNote-item__title {
  flex: 1;
}
.stickyNote-item__title input {
  background-color: rgb(119, 200, 253);
  height: 100%;
  width: 100%;
  font-size: 15px;
  font-weight: 700;
  outline: none;
}
.stickyNote-item__icons {
  display: flex row;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
}
.stickyNote-item__textarea {
  height: 100%;
  width: inherit;
  max-width: 600px;
  max-height: 600px;
  outline: none;
  border: none;
  margin: 0;
  font-size: 16px;
  resize: none;
  padding: 5px;
}

/* NOTE LIST */
.noteLIST__container {
  max-height: 100px;
  background-color: #fff;
  padding: 7px;
  margin: 5px 0;
  font-size: 14px;
  border-radius: 3px;
  cursor: pointer;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-overflow: ellipsis;
  overflow-y: hidden;
  word-break: break-word;
  box-shadow: 0 1px 0 rgb(9 30 66 / 25%);
  border-top: 2px solid rgba(223, 222, 222, 0.6901960784313725);
}
.noteLIST__container:hover {
  background-color: #ebecf0;
}
.noteLIST__title-nd-date {
  display: flex;
  justify-content: space-between;
  font-size: 13px;
  align-items: center;
}
.noteLIST__title {
  color: #000;
  font-weight: 600;
  font-size: 14px;
}
.noteLIST__pad {
  font-size: 15px;
}

/* STICKY NOTE COLOR SELECTOR */
.menu__popUp {
  background-color: #fdfdfd;
  display: flex;
  width: 100%;
  flex-direction: column;
  position: absolute;
  z-index: 2;
  border: 1px solid #d2d2d2;
}
.color___LIST {
  display: flex;
  height: 30px;
}
.note__iconHOVER-dlt {
  display: flex;
  align-items: center;
}
