.DocumentModal {
    border-radius: 8px;
    /* overflow: hidden; */
}

.DocumentModal .ant-modal-body {
    padding: 0;
}

.DocumentModal .ant-modal-content {
    border-radius: 10px;
}

.DocumentModal .ant-modal-close-x {
    display: none;
}

.DocumentModal .ModalInner {
    border-radius: 10px;
    overflow: hidden;
}

.ModalInner .doc-modal-content {
    height: 80vh;
    /* margin-top: 15px; */
}

.DocumentModal.CallingModal .ModalInner .doc-modal-content {
    height: 70vh;
    /* margin-top: 15px; */
}

.DocumentModal img {
    margin: 0 auto;
    height: 100%;
}

.DocumentModal .ant-modal-footer {
    display: none;
}

.DocumentModal.CallingModal .doc-modal-header {
    cursor: move;
    background-color: #272727;
}

.ModalInner .doc-modal-header {
    display: flex;
    justify-content: space-between;
    height: 40px;
    background-color: var(--currentThemeColor);
}

.ModalInner .doc-modal-header.call-modal-header {
    background-color: black;
    border-radius: 8px 8px 0 0;
}

.ModalInner .doc-modal-header .doc-modal-title {
    color: #eaeaea;
    font-size: 15px;
    font-weight: bold;
    padding-top: 9px;
    padding-left: 25px;
}

.ModalInner .doc-modal-header .doc-modal-actions {
    display: flex;
    align-items: center;
    gap: 5px;
    padding-right: 15px;
}

.resizable-modal .ant-modal-content .ant-modal-body {
    padding: 0;
}

.resizable-modal .ant-modal-close {
    display: none;
}

.resizable-modal .ant-modal-content .ant-modal-header .ant-design-draggable-modal-title {
    height: 40px;
    position: relative;
    z-index: 1;
    width: calc(100% - 105px);
}

.resizable-modal .ModalInner {
    height: 100%;
}

.resizable-modal .ModalInner .doc-modal-content {
    height: calc(100% - 40px);
}

.resizable-modal .ant-modal-content .ant-modal-body {
    position: absolute;
    height: 100%;
    width: 100%;
}

.resizable-modal .ant-design-draggable-modal-resize-handle-inner {
    border-color: white;
}
.resizable-modal.black-resize-handle .ant-design-draggable-modal-resize-handle-inner {
    border-color: black;
}

@media (min-width: 320px) and (max-width: 720px) {
    /* .ModalInner .doc-modal-content {
        height: 40vh;
    } */
}