.select-tag {
  padding: 5px 10px !important;
  font-size: 14px;
  border-radius: 5px;
  color: #757d86;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.task-composer article {
  margin-top: 10px;
  font-weight: bold;
  color: var(--currentThemeColor);
  margin-bottom: 5px;
}

.task-composer.rtl {
  direction: rtl;
}

.task-composer.rtl .ant-form-item-label {
  text-align: right;
}

.task-checkbox-container {
  padding-top: 20px;
}

.assignedByme .right {
  display: block !important;
}

.status {
  display: flex;
  justify-content: flex-end;
}

.card-list-item .details span {
  font-weight: 600;
}

.card-list-item.rtl {
  direction: rtl;
}

.card-list-item .rating {
  direction: ltr;
}

.card-list-item {
  background: white;
  border-radius: 10px;
  padding: 20px 15px;
  /* margin-bottom: 12px; */
  /* height: calc(100% - 80px);
    overflow: hidden;
    scroll-behavior: smooth; */
}

.card-footer {
  overflow: scroll;
}

.card-item-header {
  display: flex;
  justify-content: space-between;
}

.userInfo {
  display: flex;
  align-items: center;
  gap: 5px;
}

.avatar-name {
  margin-left: 10px;
  line-height: 15px;
  color: gray;
}

.avatar-name .name {
  color: var(--currentThemeColor) !important;
  font-weight: bold;
}

.avatar-name .details {
  display: flex;
  align-items: center;
}

.avatar-name span {
  font-size: 11px;
  font-weight: 500;
}

.avatar-name .dot {
  background: gray;
  border-radius: 50%;
  height: 5px;
  width: 5px;
  display: inline-block;
  margin-left: 5px;
  margin-right: 5px;
}

.avatar-name span {
  font-size: 11px;
  font-weight: 500;
}

.card-item-body-main {
  color: black !important;
}

.card-item-body-main .ant-progress-text {
  color: var(--currentThemeColor);
  font-weight: 600;
  margin: 0 5px;
}

.card-item-body-main .ant-progress-line {
  display: flex;
  align-items: center;
  gap: 10px;
}

.card-item-header .right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.card-item-header .right .labels {
  display: flex;
  gap: 5px;
  font-size: 13px;
  font-weight: 600;
}

.priority {
  color: #fff;
}

.priority.high {
  background: #bd1919;
}

.priority.medium {
  background: #f2a00b;
}

.priority.low {
  background: #4dc600;
}

.priority.default {
  background: #dbe3e6;
  color: #396f81;
}
/* userstatus styling */
.user-status {
  color: white;
  border-radius: 5px;
}
.cancel-task {
  cursor: pointer;
}

.labels .taskID {
  background: #dee5e8;
  color: #396f81;
}

.card-item-header .right .labels span {
  padding: 5px 10px;
  border-radius: 5px;
  display: inline-block;
  height: max-content;
}

.card-item-body {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  /* padding-top: 20px; */
  /* width: 50%; */
}

/* .card-item-body .left {
  flex: 3;
  padding-right: 10%;
} 

.card-item-header .left {
  flex: 3;
  padding-right: 10%;
} */

/* .card-item-body .right {
    flex: 1;
    display: flex;
    flex-direction: column;
    min-width: 135px;
  } */

.assignedByme .card-Title-1 {
  margin-top: 0px;
}

.card-item-header .right {
  flex: 2;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  min-width: 70px;
}

.assignedByme .left {
  padding-right: 0px !important;
}

.card-Title-1 {
  font-weight: 700;
  font-size: 17px;
  letter-spacing: 1px;
  margin-top: 16px;
}

.card-desc-1 {
  margin-top: 5px;
  font-size: 12px;
  color: #757d86;
  font-weight: 600;
}

.ratingTitle {
  color: var(--currentThemeColor) !important;
  font-weight: bold;
  font-size: 15px;
}

.card-column-view {
  display: flex;
  /* justify-content: space-between; */
  flex-wrap: wrap;
  gap: 20px;
}

.card-column-view > div {
  margin: 10px 10px;
}

.column-item-head,
.column-item-head span {
  display: inline-block;
  padding-bottom: 5px;
  font-weight: 600;
  text-align: start;
}

.card-list-item .SummaryMembers {
  margin: 0 !important;
}

.column-item-head:nth-child(2) span {
  color: var(--currentThemeColor);
}

.column-item-head:nth-child(3) span {
  color: red;
}

.column-item-head:nth-child(4) span {
  color: green;
}

.st-tag {
  background: rgb(244, 244, 244);
  padding: 5px 10px;
  border-radius: 4px;
  font-size: 12px;
  font-weight: 500;
}

.attachment-cont {
  display: flex;
  justify-content: right;
}

.task-detail-body .right {
  flex: 2;
}

.task-detail-body .left {
  /* flex: 2; */
  padding-right: 10px;
}

.detail-rigth-column {
  background: white;
  border-radius: 8px;
  min-width: 260px !important;
  max-width: 260px !important;
  padding-top: 0px !important;
}

.task-rigth-inner-tabs .ant-tabs-nav {
  background: rgb(244, 244, 244) !important;
  margin: 6px !important;
  border-radius: 5px !important;
  height: 40px;
  margin-bottom: 25px !important;
}

.task-rigth-inner-tabs .ant-tabs-nav-list {
  width: 100%;
}

.task-rigth-inner-tabs .ant-tabs-tab {
  flex: 1 !important;
  justify-content: center;
  margin: 4px !important;
  border-radius: 5px !important;
}

.task-rigth-inner-tabs .ant-tabs-tab-btn {
  color: var(--currentThemeColor) !important;
}

.task-rigth-inner-tabs .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: white !important;
}

.task-rigth-inner-tabs .ant-tabs-tab.ant-tabs-tab-active {
  background: var(--currentThemeColor) !important;
}

.task-rigth-inner-tabs .ant-tabs-tab.ant-tabs-tab-active {
  background: var(--currentThemeColor) !important;
  /* color: white !important; */
}

.task-rigth-inner-tabs .ant-tabs-tab + .ant-tabs-tab {
  margin: 0;
}

.task-rigth-inner-tabs .ant-tabs-ink-bar {
  display: none;
}

.task-rigth-inner-tabs .ant-tabs-top > .ant-tabs-nav::before,
.ant-tabs-top > div > .ant-tabs-nav::before {
  bottom: -15px !important;
}

.task-rigth-inner-tabs .ant-divider-horizontal {
  margin: 12px 0 !important;
}

.radioPrimary {
  display: flex;
  gap: 1rem;
}

.radioPrimary span:nth-child(2) {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  color: #9c9b9b;
}

.radioPrimary .ant-radio-button-wrapper {
  border-radius: 5px;
  border-width: 2px;
  padding: 0 8px;
}

.radioPrimary .ant-radio-button-wrapper::before {
  display: none;
}

.radioPrimary .ant-radio-button-wrapper:hover {
  border-color: var(--currentThemeColor);
}

.radioPrimary .ant-radio-button-wrapper-checked span:nth-child(2) {
  color: var(--currentThemeColor);
}

.radioPrimary
  .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled) {
  color: var(--currentThemeColor);
  background: #fff;
  border-color: var(--currentThemeColor);
}

.radioPrimary .ant-radio-button-wrapper {
  height: auto;
}

.radioPrimary .ant-radio-button-wrapper span:hover {
  color: var(--currentThemeColor);
}

.radioPrimary
  .ant-radio-button-wrapper-checked:not([class*=" ant-radio-button-wrapper-disabled"]).ant-radio-button-wrapper:first-child {
  border-color: var(--currentThemeColor);
}

.task-composer .ant-form-item-label label {
  font-weight: 600;
  color: var(--currentThemeColor);
}

.radioPrimary.radioPriority {
  gap: 10px;
}

.radioPrimary.radioPriority
  .ant-radio-button-wrapper-in-form-item:nth-child(1) {
  border-color: green;
}

.radioPrimary.radioPriority
  .ant-radio-button-wrapper-in-form-item:nth-child(1)
  span {
  color: green;
}

.radioPrimary.radioPriority
  .ant-radio-button-wrapper-in-form-item:nth-child(2) {
  border-color: orange;
}

.radioPrimary.radioPriority
  .ant-radio-button-wrapper-in-form-item:nth-child(2)
  span {
  color: orange;
}

.radioPrimary.radioPriority
  .ant-radio-button-wrapper-in-form-item:nth-child(3) {
  border-color: red;
}

.radioPrimary.radioPriority
  .ant-radio-button-wrapper-in-form-item:nth-child(3)
  span {
  color: red;
}

.radioPrimary.radioPriority
  .ant-radio-button-wrapper:nth-child(1).ant-radio-button-wrapper-checked {
  background: #0a7c0a;
  border-color: #0a7c0a;
}

.radioPrimary.radioPriority
  .ant-radio-button-wrapper:nth-child(1).ant-radio-button-wrapper-checked
  span {
  color: #fff;
}

.radioPrimary.radioPriority
  .ant-radio-button-wrapper:nth-child(2).ant-radio-button-wrapper-checked {
  background: #f2a00b;
}

.radioPrimary.radioPriority
  .ant-radio-button-wrapper:nth-child(2).ant-radio-button-wrapper-checked
  span {
  color: #fff;
}

.radioPrimary.radioPriority
  .ant-radio-button-wrapper:nth-child(3).ant-radio-button-wrapper-checked {
  background: #bd1919;
  border-color: #a40d0d;
}

.radioPrimary.radioPriority
  .ant-radio-button-wrapper:nth-child(3).ant-radio-button-wrapper-checked
  span {
  color: #fff;
}

.ant-tabs-top > .ant-tabs-nav .ant-tabs-ink-bar,
.ant-tabs-top > .ant-tabs-nav:before,
.ant-tabs-top > div > .ant-tabs-nav .ant-tabs-ink-bar,
.ant-tabs-top > div > .ant-tabs-nav:before {
  top: 0;
  height: 100%;
}

.ant-tabs-top > .ant-tabs-nav .ant-tabs-ink-bar {
  background: var(--currentThemeColor);
  border-radius: 5px;
}

.ant-tabs-tab {
  padding: 5px 15px;
  overflow: hidden;
}

.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: #fff;
  z-index: 999;
}

.ant-tabs-nav-wrap {
  background: #fff;
  padding: 2px 5px;
  border-radius: 5px;
}

.ant-tabs-top > .ant-tabs-nav::before {
  border: none;
}

.myTask .ant-collapse-content > .ant-collapse-content-box {
  padding: 0;
}

.myTask .ant-collapse > .ant-collapse-item:last-child,
.ant-collapse > .ant-collapse-item:last-child > .ant-collapse-header {
  /* padding: 0; */
}

.myTask .ant-collapse-expand-icon {
  display: none;
}

.myTask .ant-collapse-header-text {
  width: 100%;
}

.myTask .ant-divider-inner-text {
  background: #ededed;
  padding: 2px 30px;
  border-radius: 5px;
  color: #9299a0;
  font-size: 14px;
}

.myTask .ant-divider-horizontal.ant-divider-with-text {
  border-top-color: #ededed;
}

@media screen and (max-width: 1200px) {
  .myTask .card-item-body {
    width: 100%;
  }
}

.taskItemContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  row-gap: 20px;
  flex-wrap: wrap;
}

@media screen and (max-width: 1200px) {
  .card-item-header .right {
    flex-direction: column;
    align-items: end;
    gap: 5px;
  }

  .card-column-view {
    gap: 0;
  }
}

.task-composer
  .ant-select:not(.ant-select-customize-input)
  .ant-select-selector {
  font-size: 14px;
}

.card-list-item {
  cursor: pointer;
}

.taskListSkeleton {
  width: 49%;
}

.taskItemContainer .card-list-item {
  width: 49.5%;
}

@media screen and (max-width: 600px) {
  .card-list-item {
    padding: 10px;
  }

  .taskItemContainer {
    flex-direction: column;
  }
  .taskItemContainer .card-list-item {
    width: 100%;
  }

  .card-column-view > div {
    margin: 5px;
  }
  .card-item-header .right .labels {
    display: flex;
    gap: 4px;
    font-size: 10px;
  }
  .labels .taskID {
    width: fit-content;
  }
}
