.MessengerCont {
  width: 100%;
  height: 97vh;
  display: flex;
  position: absolute;
}

.ConversationListCont {
  background: white;
  height: 100%;
  width: 300px;
  margin: 15px 10px;
  border-radius: 10px;
}

.ConversationList {
  height: calc(100% - 120px);
  overflow: auto;
}

.MessengerBox {
  background: white;
  height: 100%;
  flex: 1;
  margin: 15px 10px;
  border-radius: 10px;
}

.ConversationListHead {
  height: 60px;
  border-bottom: 1px solid #aaaaaa29;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
}

.ConversationListHead>.HeadName {
  font-size: 18px;
  font-weight: 700;
  color: rgb(26, 86, 105);
}

.ConversationListHead>.HeadIcon {
  width: 40px;
  font-size: 30px;
  font-weight: 700;
  color: rgb(26, 86, 105);
  text-align: center;
}

.ConversationListSearch {
  /* background: wheat; */
  height: 60px;
  padding: 6px 10px;
}

.ConversationListSearch>div,
.MessengerInput>div {
  background: rgb(244, 244, 244);
  border-radius: 7px;
  height: 40px;
  margin: 3px;
  color: var(--currentThemeColor);
  font-size: 12px;
  display: flex;
  align-items: center;
  padding-left: 15px;
  /* justify-content: right; */
}

.ConversationListSearch>div>input {
  background: transparent;
  height: 100%;
  width: 83%;
  border: none;
  margin: 0 5px;
}

.MessengerInput>div>input {
  background: transparent;
  height: 100%;
  width: 83%;
  border: none;
  margin: 0 10px;
}

.MessengerInput>div>input {
  background: transparent;
  height: 100%;
  width: 100%;
  border: none;
  margin: 0 10px;
  padding-left: 15px;
}

.ConversationListSearch>div>img {
  height: 16px;
  margin: 0 10px;
}

input:focus {
  outline: none;
}

.ConversationListItem {
  display: flex;
  height: 60px;
  align-items: center;
  border-bottom: 1px solid #aaaaaa29;
  padding: 0 10px;
  animation-name: topToBottom;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  cursor: pointer;
}

.ConversationListItem>.ItemNameCont {
  flex: 1;
  /* background: rgb(223, 189, 255); */
  padding: 0 0px 0px 8px;
}

.ItemNameCont>.ItemName {
  color: var(--currentThemeColor);
  font-size: 14px;
  font-weight: 700;
  /* background: brown; */
  width: 200px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-bottom: 3px;
}

.ConversationListItem>.ItemDP {
  display: flex;
  justify-content: center;
}

.ItemLastMsgCont {
  display: flex;
}

.ItemLastMsgCont>.ItemLastMsg {
  /* background: brown; */
  width: 130px;
  font-size: 12px;
  color: #757d86;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.ItemLastMsgCont>.ItemLastMsgTime {
  /* background: brown; */
  width: 80px;
  font-size: 10px;
  color: black;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.MessengerBox {
  padding: 10px 30px;
}

.MessengerHead {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  border-bottom: 1px solid #aaaaaa29;
}

.MessengerHeadAvatar {
  width: 50px;
}

.MessengerHeadAvatar>img {
  display: none;
}

.MessengerHeadName {
  flex: 1;
}

.MessengerHeadName>div {
  font-size: 18px;
  font-weight: 700;
  color: rgb(26, 86, 105);
  padding-left: 10px;
}

.MessengerHeadIcon {
  /* background: rgb(255, 77, 77); */
  width: 120px;
  /* display: flex; */
}

.MessengerHeadIcon>div {
  display: flex;
  justify-content: space-between;
}

.MessengerHeadIcon>div>img {
  width: 25px;
}

.MessengerHeadIcon>div>.videoIcon {
  width: 28px;
}

.MessengerList {
  /* background: rgb(104, 255, 247); */
  height: calc(100% - 120px);
  padding: 10px 0;
  overflow: auto;
  scroll-behavior: smooth;
}

.MessengerBottom {
  /* background: rgb(229, 255, 189); */
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
}

.MessengerListItem {
  display: flex;
  margin-top: 25px;
  animation-name: rightToLeft;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  flex-direction: row;
}

.MessengerListItem-ME {
  display: flex;
  margin-top: 25px;
  animation-name: leftToRight;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  flex-direction: row-reverse;
}

.MessageBubble {
  background: rgb(244, 244, 244);
  color: black;
  width: max-content;
  margin: 0 10px;
  padding: 10px 15px;
  font-size: 13px;
  max-width: 350px;
  word-wrap: break-word;
  border-radius: 0px 15px 15px 15px;
  position: relative;
}

.MessengerListItem-ME>.MessageBubble {
  border-radius: 15px 0px 15px 15px;
  background: rgb(26, 86, 105);
  color: rgb(221, 221, 221);
}

.MessengerInputCont {
  /* background: brown; */
  flex: 3;
}

.MessengerInputHandler {
  /* flex: 1; */
  /* min-width: 120px; */
}

.MessengerInputHandler>div {
  display: flex;
  justify-content: space-around;
}

.MessengerInputHandler>div>img {
  height: 23px;
  margin: 0 10px;
}

.MessengerListItem>.MessageBubble::before {
  content: "";
  position: absolute;
  border-right: 10px solid rgb(244, 244, 244);
  border-bottom: 10px solid transparent;
  top: 0;
  left: -10px;
}

.MessengerListItem-ME>.MessageBubble::before {
  content: "";
  position: absolute;
  border-bottom: 10px solid transparent;
  border-left: 10px solid rgb(26, 86, 105);
  top: 0;
  right: -10px;
}

.openMobileMessenger {
  transform: translateX(-100vw);
  transition: 0.5s;
}

.closeMobileMessenger {
  transform: translateX(0vw);
  transition: 0.5s;
}

@media (max-width: 800px) {
  .MessengerCont {
    margin-top: 35px;
  }
}

@media (max-width: 500px) {
  .MessengerCont {
    height: 96vh;
  }

  .ConversationListCont {
    width: 95vw;
  }

  .ConversationList {
    width: 95vw;
  }

  .MessengerBox {
    width: 98vw;
    padding: 5px 10px;
    margin: 8px 5px;
  }

  .ItemNameCont>.ItemName {
    width: 70vw;
  }

  .MessengerHeadAvatar-Mob {
    display: flex;
  }

  .MessengerHeadAvatar {
    width: 60px;
  }

  .MessengerHeadAvatar-Mob>img {
    display: inline-block;
    width: 20px;
    margin-right: 5px;
  }

  .MessengerInputHandler>div>img {
    height: 20px;
  }

  .MessengerHeadName>div {
    font-size: 16px;
  }

  .MessengerHeadIcon>div>img {
    width: 20px;
  }

  .MessengerHeadIcon>div>.videoIcon {
    width: 24px;
  }

  .MessengerHeadIcon {
    width: 110px;
  }

  .MessengerHead {
    height: 50px;
  }

  .MessageBubble {
    align-self: center;
    padding: 8px 10px;
    font-size: 12px;
    max-width: 300px;
  }

  .MessengerListItem {
    margin-top: 15px;
  }

  .MessengerListItem-ME {
    margin-top: 15px;
  }

  .MessengerList {
    padding: 0;
  }

  .ItemLastMsgCont>.ItemLastMsg {
    width: 50vw;
  }

  .ItemLastMsgCont>.ItemLastMsgTime {
    width: 20vw;
  }

  .MessengerCont {
    position: fixed;
    width: unset;
  }

  .MessengerInput>div>input {
    padding-left: 0px;
  }
}

@keyframes rightToLeft {
  from {
    position: relative;
    right: 100px;
    opacity: 0;
  }

  to {
    position: relative;
    right: 0px;
    opacity: 1;
  }
}

@keyframes leftToRight {
  from {
    position: relative;
    left: 100px;
    opacity: 0;
  }

  to {
    position: relative;
    left: 0px;
    opacity: 1;
  }
}

@keyframes topToBottom {
  from {
    position: relative;
    top: 50px;
    opacity: 0;
  }

  to {
    position: relative;
    top: 0px;
    opacity: 1;
  }
}