canvas {
  /* bottom: 0;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0; */
  /*order: 1px solid var(--primary_theme_color_green);*/
}

.dot1 {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  background: var(--primary_theme_color_green);
  position: absolute;
}
.vertical-line {
  border-left: thick solid var(--primary_theme_color_green);
  height: 90%;
  top: 5%;
  color: var(--primary_theme_color_green);
  background: var(--primary_theme_color_green);
  position: relative;
  right: 5%;
  z-index: 999;
}

.line-container {
  height: 90%;
  top: 5%;
  background: var(--primary_theme_color_green);
  position: absolute;
  right: 5%;
  z-index: 9999;
}
