.chartOfAccountBody .tgrid-column-header-text-wrapper {
    padding: 6px 5px 0px 5px !important;
}

.chartOfAccountBody .tgrid-header-table {
    background: var(--currentThemeColor);
}

.chartOfAccountBody .tgrid-column-header-text {
    color: white;
}

.chartOfAccountBody tbody tr:nth-child(even) {
    background: rgb(235, 233, 233);
}