.minimized-document-container{
    position: absolute;
    bottom: 3px;
    left: 220px;
    z-index: 1;
    display: flex;
    gap: 6px;
}
.minimized-document-container .document-minimized-header{
    background-color: #c9a100;
    border-radius: 10px;
    width: 150px;
}
.minimized-document-container .document-minimized-header .ChatBoxName{
    width: unset;
}
.minimized-document-container .document-minimized-header .minimized-icon{
    height: 20px;
}