.post {
    /* width: 350px; */
    border-radius: 10px;
    border: solid 1px #ebebeb;
    background: #ffffff;
    /* background: red; */
    display: flex;
    flex-direction: column;
    padding: 15px 0 0;
    box-sizing: border-box;
    margin-bottom: 12px;
}

.post>.post-header {
    display: flex;
    margin-bottom: 8px;
    padding: 0 15px;
}

.post>.post-header>.pinned-post {
    display: flex;
}

.post>.post-header>.pinned-post>img {
    height: 20px;
    width: 20px;
    cursor: pointer;
}

.post>.post-header>.top-det {
    display: flex;
    flex: 1;
}

.post>.post-header>.top-det>.user-img {
    display: inline-block;
    width: 44px;
    height: 44px;
    border-radius: 50%;
}

.post>.post-header>.top-det>.user-det {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 8px;
}

.post .post-count {
    display: flex;
    justify-content: space-between;
    padding: 0 25px;
    margin-top: 10px;
    margin-bottom: 2commentbubblepx;
}

.post-footer .viewComments {
    cursor: pointer;
    font-size: 10px;
    color: var(--currentThemeColor);
    font-weight: 600;
    margin: -10px auto 10px auto;
    display: inline-block;
    background: #f4f4f4;
    border-radius: 8px;
    padding: 5px 20px;
    box-shadow: 1px 2px 3px #ccc;
}

.post-model .post-footer .comments {
    height: calc(100vh - 222px);
    overflow: scroll;
}

.post .post-count .reactionCount {
    display: flex;
    align-items: center;
    gap: 2px;
}

.post .post-count .reactionCount img {
    width: 20px;
}

.post .post-count .commentCount {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 12px;
}

.post .post-count a {
    margin: 0;
    font-weight: 600;
    font-size: 12px;
    color: var(--currentThemeColor);
    line-height: 1;
}

.post .post-count a:hover {
    text-decoration: underline;
}

.post>.post-header>.top-det>.user-det>.name {
    font-size: 14px;
    color: #404040;
    margin-bottom: 3px;
    /* display: flex; */
}

.post>.post-header>.top-det>.user-det>.name>span:nth-child(1) {
    color: #000000;
}

.post>.post-header>.top-det>.user-det>.name>span {
    color: #007af5;
    cursor: pointer;
    font-size: 12px;
    font-weight: 800;
}

.post>.post-header>.top-det>.user-det>.name>span>a {
    color: var(--currentThemeColor);
    text-decoration: unset;
    font-size: 14px;
    text-transform: capitalize;
}

.post>.post-header>.top-det>.user-det>.dtp {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-top: -6px;
}

.post>.post-header>.top-det>.user-det>.dtp>.d {
    font-size: 10px;
    color: #707070;
}

.post>.post-header>.top-det>.user-det>.dtp>.t {
    font-size: 9px;
    color: #818181;
    margin: 0 4px;
}

.post>.post-header>.top-det>.user-det>.dtp>.p {
    display: flex;
}

.post>.post-header>.top-det>.user-det>.dtp>.p>img {
    width: 12px;
    height: 12px;
}

.post>.post-section {
    padding: 0 15px;
}

.post-section-attachments {
    position: relative;
}

.post-model .post-section-attachments {
    display: none;
}

.post-section-attachments .slides {
    background: #f4f4f4;
    border-radius: 10px;
}

.attacmentFullScreenBtn {
    font-size: 17px;
    color: #000;
    position: absolute;
    right: 13px;
    top: 7px;
    z-index: 9999;
    cursor: pointer;
}

.post-section-attachments .slides .swiper-button-next,
.swiper-button-prev {
    height: 26px;
    width: 26px;
}



.post-section-attachments .slides .swiper-button-next:after,
.post-section-attachments .slides .swiper-button-prev:after {
    color: #a6a6a6;
    font-size: 26px;
}

.post>.post-section img {
    width: 100%;
    height: 100%;
    max-height: 360px;
    object-fit: contain;
    object-position: center;
    vertical-align: middle;
    border-radius: inherit;
}

.post>.post-section>.post-title {
    color: #555555;
    font-size: 16px;
    font-family: inherit;
    text-align: justify;
    word-wrap: break-word;
    white-space: pre-wrap;
    margin-bottom: 8px;
}

.post>.post-section>.post-title>a {
    text-decoration: none;
    color: #365899;
    font-weight: 600;
}

.post>.post-section>.post-title>a:hover {
    text-decoration: underline;
}

.post>.post-section>.post-attach-view {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0 0 8px;
}

.post>.post-section>.post-attach-view>.attach-det {
    width: 100%;
    height: auto;
    background: #1d1d1d05;
    border-radius: 6px;
}

.post>.post-section>.post-attach-view>.attach-det>.img-view,
.post>.post-section>.post-attach-view>.attach-det>.vid-view {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: inherit;
}

.post>.post-section>.post-attach-view>.attach-det>.img-view,
.post>.zoomImg {
    width: 100%;
    height: 100%;
    max-height: 360px;
    object-fit: contain;
    object-position: center;
    vertical-align: middle;
    border-radius: inherit;
}

.post>.post-section>.post-attach-view>.attach-det>.img-view,
.post>.post-section>.post-attach-view>.attach-det>.vid-view .video-react {
    width: 100%;
    height: 100%;
    max-height: 360px;
    object-fit: contain;
    object-position: center;
    vertical-align: middle;
    border-radius: inherit;
}

.post>.post-section>.post-attach-view>.attach-det>.img-view,
.post>.post-section>.post-attach-view>.attach-det>.vid-view .video-react video {
    width: 100%;
    height: 100%;
    /*max-height: 360px;*/
    object-fit: contain;
    object-position: center;
    vertical-align: middle;
    border-radius: inherit;
}

.post>.post-section>.post-attach-view>.attach-det>.img-view,
.post>.post-section>.post-attach-view>.attach-det>.vid-view .video-react-video {
    border-radius: 6px;
    outline: none;
    background: #e0e0e0;
}

.post-section-attachments .thumbnails {
    height: 70px;
}

.post-section-attachments .thumbnails .swiper-slide {
    border: 2px solid #f4f4f4;
    padding: 2px;
    border-radius: 5px;
}

.post-section-attachments .thumbnails .swiper-slide-thumb-active {
    border: 2px solid var(--currentThemeColor) !important;
}

.post>.post-section>.post-attach-view>.attach-det>.img-view>img {
    width: 100%;
    height: 100%;
    max-height: 360px;
    object-fit: contain;
    object-position: center;
    vertical-align: middle;
    border-radius: inherit;
}

.post>.post-section>.post-attach-view>.attach-det>.img-view {
    width: 100%;
    height: 100%;
    max-height: 360px;
    object-fit: contain;
    object-position: center;
    vertical-align: middle;
    border-radius: inherit;
}

.post>.post-section>.post-attach-view>.attach-list {
    display: flex;
    flex-direction: row;
    width: 100%;
    overflow: hidden;
    overflow-x: auto;
    margin-top: 8px;
}

.post>.post-section>.post-attach-view>.attach-list>.attach-item {
    width: 140px;
    min-width: 140px;
    height: 100px;
    border-radius: 6px;
    margin-right: 12px;
    cursor: pointer;
    border: 2px solid rgba(220, 220, 220, 0.5);
    padding: 2px;
}

.post>.post-section>.post-attach-view>.attach-list>.attach-item:hover {
    border: 2px solid rgba(61, 89, 143, 0.5);
}

.post>.post-section>.post-attach-view>.attach-list>.attach-item.on {
    border: 2px solid #3d598f;
}

.post>.post-section>.post-attach-view>.attach-list>.attach-item.on>.img {
    border-radius: 4px;
}

.post>.post-section>.post-attach-view>.attach-list>.attach-item:nth-last-child(1) {
    margin-right: 0;
}

.post>.post-section>.post-attach-view>.attach-list>.attach-item>.img,
.post>.post-section>.post-attach-view>.attach-list>.attach-item>.vid,
.post>.post-section>.post-attach-view>.attach-list>.attach-item>.doc {
    width: 100%;
    height: 100%;
    position: relative;
    border-radius: inherit;
    box-sizing: border-box;
}

.post>.post-section>.post-attach-view>.attach-list>.attach-item>.img>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    vertical-align: middle;
    border-radius: inherit;
}

.post>.post-section>.post-attach-view>.attach-list>.attach-item>.vid>video {
    object-fit: cover;
    border-radius: inherit;
    width: 140px;
    height: 100px;
}

.post>.post-section>.post-attach-view>.attach-list>.attach-item.on>.vid>video,
.post>.post-section>.post-attach-view>.attach-list>.attach-item:hover>.vid>video {
    width: 132px;
    height: 92px;
}

.post>.post-section>.post-attach-view>.attach-list>.attach-item>.vid>.vid-play {
    background-image: linear-gradient(rgba(255, 255, 255, 0.04),
            rgba(0, 0, 0, 0.4));
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: inherit;
}

.post>.post-section>.post-attach-view>.attach-list>.attach-item>.vid>.vid-play>img {
    width: 30px;
    height: 30px;
}

.post>.post-section>.post-attach-view>.attach-list>.attach-item>.doc.dnl {
    background-image: linear-gradient(rgba(255, 255, 255, 0.04),
            rgba(0, 0, 0, 0.8));
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: inherit;
    user-select: none;
}

.post>.post-section>.post-attach-view>.attach-list>.attach-item>.doc:hover .dnl {
    background-image: linear-gradient(rgba(255, 255, 255, 0.04), rgb(0, 0, 0));
}

.post>.post-section>.post-attach-view>.attach-list>.attach-item>.doc .dnl>div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    border-radius: inherit;
    color: white;
    font-size: 10px;
    font-weight: bold;
    padding: 8px;
    box-sizing: border-box;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.post>.post-section>.post-attach-view>.attach-list>.attach-item>.doc .dnl>div>img {
    width: 60px;
    height: 60px;
}

.post>.post-section>.poll-view {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    margin-bottom: 8px;
}

.post>.post-section>.poll-view.pic-poll {
    flex-direction: row;
    overflow: auto;
}

.post>.post-section>.poll-view>.poll-opt {
    /*width: 100%;*/
    border: 1px solid #dcdcdc;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    /*align-items: center;*/
    box-sizing: border-box;
    font-family: Raleway, serif;
    margin-bottom: 12px;
    position: relative;
}

.post>.post-section>.poll-view.pic-poll>.poll-opt {
    padding: 0;
    margin-bottom: 0;
    /*width: auto;*/
    width: min-content;
    margin-right: 15px;
    cursor: default;
    position: relative;
}

.post>.post-section>.poll-view.pic-poll>.poll-opt>.img {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 170px;
    width: 170px;
    border-radius: 6px 6px 0 0;
}

.post>.post-section>.poll-view.pic-poll>.poll-opt .voters-box {
    display: flex;
    position: absolute;
    z-index: 1;
    /*top: -15px;*/
    top: 5px;
    right: 5px;
    justify-content: flex-end;
    width: 100%;
    height: 0;
    -webkit-transition: all 0.8s ease;
    -moz-transition: all 0.8s ease;
    -ms-transition: all 0.8s ease;
    -o-transition: all 0.8s ease;
    transition: all 0.8s ease;
}

.post>.post-section>.poll-view.pic-poll>.poll-opt:hover .voters-box .v-img {
    visibility: visible;
    transform: scale(1);
}

.post>.post-section>.poll-view.pic-poll>.poll-opt .voters-box>.v-img {
    visibility: hidden;
    transform: scale(0);
    -webkit-transition: all 0.8s ease;
    -moz-transition: all 0.8s ease;
    -ms-transition: all 0.8s ease;
    -o-transition: all 0.8s ease;
    transition: all 0.8s ease;
    margin-left: -15px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    /*border: 2px solid white;*/
    background: rgba(0, 0, 0, 0.8);
    color: #ffffff;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    z-index: 1;
}

.post>.post-section>.poll-view.pic-poll>.poll-opt .voters-box>.v-img:nth-child(1) {
    margin-left: 0;
}

.post>.post-section>.poll-view>.poll-opt.sl {
    border: 1px solid #345e95;
    cursor: default;
}

.post>.post-section>.poll-view>.poll-opt .voters-box {
    display: flex;
    position: absolute;
    z-index: 1;
    top: -15px;
    justify-content: flex-end;
    width: 100%;
    height: 0;
    -webkit-transition: all 0.8s ease;
    -moz-transition: all 0.8s ease;
    -ms-transition: all 0.8s ease;
    -o-transition: all 0.8s ease;
    transition: all 0.8s ease;
}

.post>.post-section>.poll-view>.poll-opt:hover .voters-box .v-img {
    visibility: visible;
    transform: scale(1);
}

.post>.post-section>.poll-view>.poll-opt .voters-box>.v-img {
    visibility: hidden;
    transform: scale(0);
    -webkit-transition: all 0.8s ease;
    -moz-transition: all 0.8s ease;
    -ms-transition: all 0.8s ease;
    -o-transition: all 0.8s ease;
    transition: all 0.8s ease;
    margin-left: -15px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    /*border: 2px solid white;*/
    background: rgba(0, 0, 0, 0.8);
    color: #ffffff;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    z-index: 1;
}

.post>.post-section>.poll-view>.poll-opt .voters-box>.v-img:nth-child(1) {
    margin-left: 0;
}

.post>.post-section>.poll-view>.poll-opt:nth-last-child(1) {
    margin-bottom: 0;
}

.post>.post-section>.poll-view>.poll-opt.btn:hover {
    cursor: pointer;
    background: rgb(220, 220, 220);
    transition: background 0.2s ease-in;
}

.post>.post-section>.poll-view.pic-poll>.poll-opt>.img {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 170px;
    width: 170px;
    border-radius: 6px 6px 0 0;
}

.post>.post-section>.poll-view>.poll-opt>.det {
    width: 100%;
    border-radius: 6px;
    display: flex;
    align-items: center;
    padding: 12px 15px;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
}

.post>.post-section>.poll-view.pic-poll>.poll-opt>.det {
    padding: 8px;
}

.post>.post-section>.poll-view>.poll-opt>.det>.prg {
    background: rgba(220, 220, 220, 0.3);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    /*border-radius: 5px 0 0 5px;*/
}

.post>.post-section>.poll-view>.poll-opt.sl>.det>.prg {
    background: rgba(52, 94, 149, 0.3);
}

.post>.post-section>.poll-view>.poll-opt>.det>.ic {
    display: flex;
    margin-right: 10px;
}

.post>.post-section>.poll-view>.poll-opt>.det>.ic>i {
    width: 24px;
    height: 24px;
    background: #a5a5a5;
}

.post>.post-section>.poll-view.pic-poll>.poll-opt>.det>.ic>i {
    width: 16px;
    height: 16px;
    background: #a5a5a5;
}

.post>.post-section>.poll-view>.poll-opt.sl>.det>.ic>i {
    background: #345e95;
}

.post>.post-section>.poll-view>.poll-opt>.det>.opt-txt {
    font-size: 11px;
    width: 90px;
    /*font-size: 18px;*/
    text-align: left;
    color: #a5a5a5;
    flex: 1;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-family: inherit;
    font-weight: 600;
}

.post>.post-section>.poll-view>.poll-opt.sl>.det>.opt-txt {
    color: #345e95;
}

.post>.post-section>.poll-view>.poll-opt>.det>.vote-stat>.vt-cnt {
    font-size: 14px;
    font-family: inherit;
    font-weight: 500;
    text-align: left;
    color: #a5a5a5;
    flex: 1;
}

.post>.post-section>.poll-view>.poll-opt.sl>.det>.vote-stat>.vt-cnt {
    color: #345e95;
}

.post>.post-section>.post-attach-view>.attach-list>.attach-item>.doc>img {
    width: 100%;
    height: 100%;
    object-fit: scale-down;
    object-position: center;
    vertical-align: middle;
    border-radius: inherit;
}

.post>.post-footer {
    display: flex;
    flex-direction: column;
}

.post>.post-footer>.post-stats {
    display: flex;
    padding: 0 15px;
}

.post>.post-footer>.post-stats>.react-stats {
    flex: 1;
    display: flex;
    align-items: center;
}

.post>.post-footer>.post-stats>.com-stats {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.post>.post-footer>.post-stats>.react-stats>.icons {
    display: flex;
}

.post>.post-footer>.post-stats>.react-stats>.icons>.ic {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 2px solid white;
    margin-left: -4px;
}

.post>.post-footer>.post-stats>.react-stats>.icons>.ic:nth-child(1) {
    margin-left: 0;
}

.post>.post-footer>.post-stats .count {
    color: #707070;
    font-size: 12px;
    margin-left: 5px;
    cursor: pointer;
}

.post>.post-footer>.post-stats .count:hover {
    text-decoration: underline;
}

.post>.post-footer>.post-events {
    display: flex;
    border-top: 1px solid #ebebeb;
    margin: 5px 15px 5px;
    padding-top: 5px;
}

.post-model .post>.post-footer>.post-events {
    border-bottom: 1px solid #ebebeb;
}

.post>.post-footer>.post-events .btn {
    flex: 1;
    padding: 2px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    font-weight: normal;
    color: #727780;
    cursor: pointer;
    font-weight: 600;
    user-select: none;
    gap: 3px;
}

.post>.post-footer>.post-events>.btn:nth-child(1) {
    margin-left: 0;
}

.post>.post-footer>.post-events>.btn.on {
    color: var(--currentThemeColor);
}

.post>.post-footer>.post-events>.btn:hover {
    background: #f6f6f6;
}

.post>.post-footer>.post-events>.btn:nth-last-child(1) {
    margin-right: 0;
}

.post>.post-footer>.post-events>.btn>i {
    width: 24px;
    height: 24px;
    margin: 0 5px;
    background: #727780;
}

.post>.post-footer>.post-events>.btn.on>i {
    background: #007af5;
}

.post>.post-footer .post-composer {
    display: flex;
    padding: 8px 18px;
    box-sizing: border-box;
    border-top: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb;
}

.post>.post-footer .cmnt-hld .post-composer {
    border: 1px solid #ebebeb;
    border-radius: 6px;
}

.post>.post-footer .post-composer>.img {
    min-width: 34px;
    min-height: 34px;
    max-width: 34px;
    max-height: 34px;
    border-radius: 50%;
}

.post>.post-footer .post-composer>.img>img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 50%;
}

.post>.post-footer .post-composer>.composer-area {
    flex: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 12px;
}

.post>.post-footer .post-composer>.composer-area>.inputs {
    display: flex;
    height: auto;
    box-sizing: border-box;
    /* padding-top: 8px; */
}

.post>.post-footer .post-composer>.composer-area>.inputs>.inp {
    flex: 1;
    display: flex;
    align-items: center;
    margin-right: 10px;
    position: relative;
    /* height: min-content; */
}

.post>.post-footer .post-composer>.composer-area>.inputs>.inp>textarea {
    width: 100%;
    border: none;
    outline: none;
    resize: none;
    margin: 0;
    vertical-align: top;
    font-size: 13px;
    max-height: 220px;
    overflow: hidden;
    overflow-y: auto;
    z-index: 0;
    height: 20px;
    position: relative;
}

.post>.post-footer .post-composer>.composer-area>.inputs>.capture {
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    /* background: url(./Comment/assets/attachment.svg) no-repeat; */
    background-size: 100% 100%;
}

.post>.post-footer .post-composer>.composer-area>.inputs>.capture>input[type="file"] {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
    z-index: 0;
    outline: none;
    border: none;
    opacity: 0;
}

.post>.post-footer .post-composer>.composer-area>.attach-select-area {
    margin-top: 8px;
}

.post>.post-footer>.cmnt-hld {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.post>.post-footer>.cmnt-hld>.vmcmnt {
    text-decoration: none;
    color: #365899;
    font-size: 14px;
    font-weight: 600;
    padding: 0 15px 10px;
    cursor: pointer;
}

.post>.post-footer>.cmnt-hld>.vmcmnt:hover {
    text-decoration: underline;
}

.post>.post-footer>.cmnt-hld>.cmnt {
    width: 100%;
    display: flex;
    padding: 6px 12px;
    box-sizing: border-box;
}

.post>.post-footer>.cmnt-hld>.cmnt>.abt-us {
    display: flex;
    margin-right: 12px;
}

.post>.post-footer>.cmnt-hld>.cmnt>.abt-us>.img {
    min-width: 34px;
    min-height: 34px;
    max-width: 34px;
    max-height: 34px;
    border-radius: 50%;
    display: block;
}

.post>.post-footer>.cmnt-hld>.cmnt>.abt-us>.img>img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.post>.post-footer>.cmnt-hld>.cmnt>.abt-cmnt {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 2px 0;
}

.post>.post-footer>.cmnt-hld>.cmnt>.abt-cmnt>.hd {
    display: flex;
}

.post>.post-footer>.cmnt-hld>.cmnt>.abt-cmnt>.hd>.name {
    font-size: 15px;
    color: #454545;
    font-weight: 600;
}

.post>.post-footer>.cmnt-hld>.cmnt>.abt-cmnt>.sct {
    display: flex;
    flex-direction: column;
}

.post>.post-footer>.cmnt-hld>.cmnt>.abt-cmnt>.sct>.cmt-time {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    color: #707070;
    font-size: 12px;
}

.post>.post-footer>.cmnt-hld>.cmnt>.abt-cmnt>.sct>.txt {
    font-size: 13px;
    font-weight: 500;
    color: #555555;
    margin: 2px 0;
}

.post>.post-footer>.cmnt-hld>.cmnt>.abt-cmnt>.sct>.txt>a {
    text-decoration: none;
    color: #365899;
    font-weight: 600;
}

.post>.post-footer>.cmnt-hld>.cmnt>.abt-cmnt>.sct>.txt>a:hover {
    text-decoration: underline;
}

.post>.post-footer>.cmnt-hld>.cmnt>.abt-cmnt>.sct .attach {
    width: 128px;
    min-width: 128px;
    height: 128px;
    margin: 4px 0;
    position: relative;
    background: rgba(0, 0, 0, 0.4);
}

.post>.post-footer>.cmnt-hld>.cmnt>.abt-cmnt>.sct>.stats {
    display: flex;
    margin: 4px 0;
}

.post>.post-footer>.cmnt-hld>.cmnt>.abt-cmnt>.sct>.stats>.lk {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.post>.post-footer>.cmnt-hld>.cmnt>.abt-cmnt>.sct>.stats>.lk>i {
    width: 16px;
    height: 16px;
    background: #727780;
}

.post>.post-footer>.cmnt-hld>.cmnt>.abt-cmnt>.sct>.stats>.lk.on>i {
    background: #007af5;
}

.post>.post-footer>.cmnt-hld>.cmnt>.abt-cmnt>.sct>.stats>.rp {
    margin-left: 15px;
}

.post>.post-footer>.cmnt-hld>.cmnt>.abt-cmnt>.sct>.stats>.srp {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.post>.post-footer>.cmnt-hld>.cmnt>.abt-cmnt>.sct>.stats .txt {
    color: #707070;
    font-size: 12px;
    margin-left: 5px;
    cursor: pointer;
}

.post>.post-footer>.cmnt-hld>.cmnt>.abt-cmnt>.sct>.stats .txt:hover {
    text-decoration: underline;
}

.share-feed__content .ant-popover-inner-content{
    padding: 10px 5px;
}
.share-feed__content .ant-popover-inner{
    border-radius: 5px;
}

@media screen and (max-width: 500px) {
    .post>.post-header>.top-det>.user-det>.name>span {
        color: #007af5;
        cursor: pointer;
        font-size: 14px;
        font-weight: 600;
    }

    .post>.post-footer>.post-events>.btn {
        font-size: 15px;
    }
}

@media screen and (max-width: 420px) {
    .post>.post-header>.top-det>.user-det>.name>span {
        color: #007af5;
        cursor: pointer;
        font-size: 12px;
        font-weight: 600;
    }

    .post>.post-footer>.post-events>.btn>i {
        width: 20px;
        height: 20px;
    }
}

@media screen and (max-width: 390px) {
    .post>.post-header>.top-det>.user-det>.name>span {
        color: #007af5;
        cursor: pointer;
        font-size: 12px;
        font-weight: 600;
    }

    .post>.post-footer>.post-events>.btn {
        font-size: 12px;
    }

    .post>.post-footer>.post-events>.btn>i {
        width: 15px;
        height: 15px;
    }
}

@media screen and (max-width: 500px) {
    .post>.post-footer.post-composer>.composer-area>.inputs>.inp>textarea {
        font-size: 13px !important;
    }
}