.sideNavigation {
  width: 210px;
  transition: all 0.3s;
  background-color: #fff;
}
.ant-tooltip-inner {
  /* color: #000 !important; */
}
.MenuCollapse {
  border: 0 !important;
  margin-bottom: 5px;
  background: #f4f4f4;
}
.MenuCollapse .ant-collapse-content-active {
  border: 0 !important;
}
.MenuCollapse .ant-collapse-item {
  border: 0 !important;
}
.MenuCollapse .ant-collapse-content > .ant-collapse-content-box {
  padding: 0px 7px 0px 7px;
}
.MenuCollpase .ant-collapse-item-active .ant-collapse-header {
  background-color: white !important;
}
.MenuCollapse .ant-collapse-header {
  background-color: white !important;
  padding-top: 4px !important;
  padding-bottom: 3px !important;
  padding-left: 19px !important;
}
.MenuCollapse .ant-collapse-item-active .ant-collapse-header {
  background-color: #f5f5f5 !important;
  border-radius: 4px !important;
}
.MenuCollapse .ant-collapse-extra {
  position: absolute;
  left: 0;
  top: 0;
}
.sideNavigation.close .businessLogo {
  display: none;
}
.main-app-style .ant-modal-mask {
  background-color: transparent;
}
.sideNavigation.close {
  width: 66px;
}
.sideNavigation.rtl {
  direction: rtl;
}
.sideNavigation.close .toggleButton {
  width: 35px;
}
.sideNavigation.close .sideNavigation__body {
  height: calc(100vh - 87px);
}
.sideNavigation__top {
  padding: 8px;
  border-bottom: 1px solid #e7eef0;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sideNavigation__body {
  padding: 0 4px;
  height: calc(100vh - 206px);
  overflow: auto;
}
.sideNavigation.close .userDetails__body {
  width: 0;
  overflow: hidden;
}
.sideNavigation.close .userDetails {
  justify-content: unset;
}
.sideNavigation__top .businessLogo {
  flex: 1;
}
.sideNavigation__top img {
  height: 60px;
  width: 100%;
  object-fit: contain;
}
.sideNavigation__top .toggleButton {
  width: 25px;
  cursor: pointer;
}
.sideNavigation.close .notificationBar .list__item:not(:first-child) {
  display: none;
}
.userDetails {
  padding: 7px;
  background: var(--primary_theme_color_green);
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  overflow: hidden;
}
.userDetails .userDetails__body {
  flex: 1;
}
.userDetails .userDetails__body p {
  font-weight: 600;
  font-size: 13px;
  margin: 1px 0px 0px 0px;
  line-height: 0.3;
  color: #fff;
  margin-top: 6px;
  white-space: nowrap;
}
.userDetails .userDetails__body span {
  font-size: 11px;
  font-weight: 400;
  color: #a8bec4;
  white-space: nowrap;
}
.userDetails__footer {
  cursor: pointer;
}
.userDetailsWrapper {
  position: relative;
}
.userDetailsWrapper .dropDown {
  display: flex;
  flex-direction: column;
  width: 195px;
  position: absolute;
  border-radius: 10px;
  z-index: 2;
  top: 54px;
  -webkit-backdrop-filter: blur(26px);
  backdrop-filter: blur(26px);
  background: transparent;
  margin: 1px 2px;
  transition: all 0.3s;
  max-height: 0;
  overflow: hidden;
  left: 0px;
  border-color: transparent;
  padding: 0 18px;
}
.userDetailsWrapper .dropDown.open {
  max-height: 400px;
  padding: 7px 18px;
  border: 1px solid #1b56699e;
}
.userDetailsWrapper .dropDown .list {
  margin: 0;
}
.userDetailsWrapper .dropDown .list img {
  width: 16px;
  height: 16px;
}
.userDetailsWrapper .dropDown .list .list__item {
  padding: 5px 0;
}
.userDetailsWrapper .dropDown span {
  font-size: 11px;
  margin: 5px;
}
.userDetailsWrapper .dropDown .list .list__item,
.userDetailsWrapper .dropDown .list .list__item a,
.userDetailsWrapper .dropDown .list .list__item p {
  display: flex;
  gap: 10px;
  color: #3e3e3e;
  font-size: 12px;
  font-weight: 700;
  display: flex;
  align-items: center;
  letter-spacing: 2px;
  cursor: pointer;
  margin: 0;
}
.userDetailsWrapper .dropDown .list .list__item {
  border-bottom: 2px solid #f4f4f478;
  padding-left: 10px;
  overflow: hidden;
  border-radius: 5px;
}
.userDetailsWrapper .dropDown .list .list__item:hover {
  background-color: #e5e5e5;
  border-color: transparent;
}

.userDetailsWrapper .dropDown .list.lang .list__item {
  border-radius: 5px;
  padding-left: 10px;
  border: none;
  gap: 5px;
}
.userDetailsWrapper .dropDown .list.lang .list__item p {
  font-size: 11px;
}
.notificationBar {
  background-color: #f4f4f4;
  border-radius: 6px;
  margin-top: 0.5rem;
}
.notificationBar .list {
  display: flex;
  align-items: center;
  padding: 6px 10px 6px 6px;
  justify-content: space-between;
  margin-bottom: 6px;
}
.notificationBar .list img {
  width: 1rem;
}
.notificationBar .list__item {
  border-radius: 50%;
  cursor: pointer;
  display: grid;
  width: 2rem;
  height: 2rem;
  padding: 0.3rem;
  place-items: center;
  transition: all 0.3s;
}
.notificationBar .list__item:not(:last-child):hover {
  background-color: #e5e5e5;
}
.notificationBar.open .list__item:not(:last-child) {
  display: none;
}
.notificationBar input {
  width: 0;
  transition: 1s;
}
.notificationBar.open input {
  width: 90%;
}
.notificationBar.open .list {
  gap: 0px;
}

.menu .menu-item a {
  padding: 6px 6px;
  transition: 0.3s;
  border-left: 2px solid transparent;
  display: flex;
  gap: 1rem;
  align-items: center;
}
.sideNavigation.close .menu .menu-item a {
  gap: 0rem;
  border-color: transparent;
  border-radius: 5px;
}

.menu .menu-item a img {
  width: 1.2rem;
  height: 1.2rem;
}
.notificationModal.rtl .ant-modal {
  margin-left: auto;
  left: auto;
  right: 255px;
  top: 161px;
  margin-right: 0;
}
.notificationModal.rtl .ant-modal::before {
  left: auto;
  right: -9px;
  top: 4px;
  transform: rotateY(180deg);
}
.menu .menu-item a.on {
  background-color: #f5f5f5 !important;
  border-color: #1a5669;
}
.menu .menu-item .on p {
  color: #1a5669;
}

.menu .menu-item p {
  margin: 0;
  color: #3e3e3e;
  font-size: 14px;
}
.menu .menu-item a:hover {
  background-color: #e5e5e5;
  border-color: #1a5669;
}
.menu span {
  font-size: 14px;
  font-family: Poppins;
  margin-left: 6px;
  font-weight: 400;
  white-space: nowrap;
  color: #3e3e3e;
}
.sideNavigation.close .menu .menu-item p {
  width: 0;
  overflow: hidden;
  white-space: nowarp;
}
.sideNavigation.close .menu .menu-item a {
  width: 3.5rem;
}
.sideNavigation.close .menu .menu-item:hover {
  border-color: transparent;
  background: transparent;
}
.navigationBottom {
  border-top: 1px solid #e7eef0;
  padding-top: 8px;
  padding-bottom: 10px;
}
.navigationBottom .logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.navigationBottom .logo img {
  height: 60px;
  width: 100%;
  object-fit: contain;
}
.navigationBottom .bottomLinks {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 5px;
}
.navigationBottom .bottomLinks p {
  font-size: 11px;
  margin: 0;
  cursor: pointer;
}
.sideNavigation.close .navigationBottom {
  display: none;
}
.notificationModal .ant-modal {
  margin: 0;
  left: 220px;
  transform: none;
  position: relative;
  top: 150px;
}
.notificationModal .ant-modal-wrap {
  z-index: 998;
}
.notificationModal .ant-modal-content {
  border-radius: 9px;
}
.notificationModal .ant-modal-close-x {
  display: none;
}
.notificationModal .ant-modal::before {
  content: "";
  width: 0;
  height: 0;
  border-top: 12px solid transparent;
  border-bottom: 12px solid transparent;
  border-right: 12px solid #fff;
  z-index: 999;
  position: absolute;
  left: -9px;
  top: 4px;
}
.notificationModal .ant-modal-body {
  padding: 0;
  max-height: 500px;
  min-height: 500px;
  overflow: auto;
}
@media screen and (max-width: 800px) {
  .notificationBar {
    display: none;
  }
  .sideNavigation {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;
    background: #fff;
  }
  .sideNavigation.close {
    width: 0;
  }
  .sideNavigation.close .sideNavigation__top {
    padding: 8px 0;
  }
  .sideNavigation.close .sideNavigation__body {
    padding: 0;
  }
  .sideNavigation__top .toggleButton img {
    height: 22px;
  }
}
