.row-dragging {
  background: #fafafa;
  border: 1px solid #ccc;
  z-index: 10;
}

.row-dragging td {
  padding: 16px;
}

.row-dragging .drag-visible {
  visibility: visible;
}

tr:nth-child(odd) td {
  background-color: #f4f4f4;
}
thead tr th {
  background-color: #1b5669 !important;
  color: white !important;
}
.custom_table .ant-table-tbody > tr > td {
  padding: 5px 15px !important;
  height: 47px;
  font-size: 12px;
}
.custom_table .ant-table-thead > tr > th {
  padding: 5px 15px !important;
  height: 37px;
  font-size: 12px;
}
.ant-table-column-sorter-down.active,
.ant-table-column-sorter-up.active {
  color: white !important;
}
.drag-handle {
  margin: 0px;
}

.custom_table.rtl .ant-table-thead, .custom_table.rtl .ant-table-tbody{
  direction: rtl !important;
  text-align: right !important;
}

.custom_table.ltr .ant-table-tbody, .custom_table.ltr .ant-table-tbody{
  direction: ltr !important;
  text-align: left !important;
}