.eventWrapper {
  padding: 12px;
  border-radius: 5px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow-y: scroll;
}
.eventWrapper__header {
  background-color: #f4f4f4;
  padding: 7px 3px;
  border-radius: 3px;
}

.eventWrapper__header p {
  margin: 0;
  font-size: 14px;
  font-weight: 600;
  color: var(--currentThemeColor);
  padding-left: 10px;
}

.event {
  background-color: #f4f4f4;
  border: 1px solid #d9d9d9;
  padding: 10px 8px;
  border-radius: 3px;
  display: flex;
  gap: 15px;
}

.event p {
  color: #000;
  font-size: 14px;
  margin: 0;
  line-height: 0.5;
  font-weight: 600;
  /* margin-top: 5px; */
}

.event span {
  color: #9e9e9e;
  font-size: 10px;
  line-height: 1;
}

.event .left {
  border-right: 1px solid #ccc;
  min-width: 62px;
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
}

.event .right {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 3px;
}

.event .right p {
  margin: 0;
  line-height: 1.1;
}

.eventWrapper__body {
  display: flex;
  flex-direction: column;
  gap: 6px;
  max-height: 200px;
  overflow-y: scroll;
}

/* .fc-v-event {
    background: transparent !important;
} */

.eventDetail__header {
  background-color: #f4f4f4;
  border-radius: 3px;
  padding: 5px 8px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.eventDetail-title {
  color: #9e9e9e;
  font-weight: 600;
  margin: 0;
  text-transform: capitalize;
}

.eventDetail .eventNum {
  padding: 3px 10px;
  border-radius: 3px;
  font-weight: 600;
  color: #9e9e9e;
  font-size: 11px;
  background-color: #e0e0e0;
}

.eventDetail__body .eventDetail__body-event {
  background-color: var(--currentThemeColor);
  padding: 12px;
  border-radius: 5px;
}

.eventDetail__body {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 15px;
}

.eventDetail__body-memberUserWrapper .eventDetail-title {
  margin-bottom: 10px;
}

.eventDetail .memberUserCard {
  width: 110px;
  border-radius: 5px;
  text-align: center;
  padding: 8px 8px;
  box-shadow: 5px 8px 11px -6px #bbbbbbd1;
  border: solid 1px #ebebeb;
  background: #f4f4f4;
  transition: all 0.2s;
  position: relative;
}

.eventDetail .memberUserCard:hover {
  transform: scale(1.02);
  box-shadow: 5px 8px 15px -6px #bbbbbbd1;
}

.eventDetail .memberUserCard__header {
  width: 44%;
  margin: 0 auto;
  border-radius: 50%;
  overflow: hidden;
}

.eventDetail .memberUserCard__header img {
  width: 100%;
}

.eventDetail .memberUserCard__body p {
  margin: 0;
  line-height: 0.5;
  margin-top: 10px;
}

.eventDetail .memberUserCard__body span {
  color: #ccc;
  font-size: 8px;
}

.eventDetail .memberUserCards {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.eventDetail .memberUserCardStatus {
  position: absolute;
  bottom: 50%;
  right: 37%;
  width: 6px;
  height: 6px;
  background: #8bc34a;
  border-radius: 50%;
}

/* .dayGridMonth .event{

} */
