.custom_table_container .ant-table-thead > tr > th {
    background-color: var(--primary_theme_color_green);
    color: white;
    font-weight: 700;
}
.custom_table_container{
    margin-top: 20px;
}

.custom_table_container .ant-table-thead > tr > th:not(:last-child):not(.ant-table-selection-column):not(.ant-table-row-expand-icon-cell):not([colspan])::before {
    background: white;
}

.custom_table_container .table-row-light {
    background-color: #ffffff;
}

.custom_table_container .table-row-dark {
    background-color: #fbfbfb;
}