.BusinessPolicyView h2 {
    color: var(--primary_theme_color_green);
    font-size: 20px;
}
.BusinessPolicyView .anticon {
    color: var(--primary_theme_color_green);
    font-size: 16px;
}
.BusinessPolicyView .anticon-edit {
    margin-right: 8px;
}
.BusinessPolicyView .anticon-plus {
    display: none;
}
.businessPolicyForm .ant-form-item {
    margin-bottom: 12px;
}