.expense-tag {
    width: 85px;
    height: 75px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #fafafa;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid #d9d9d9;
    font-weight: bold;
    font-size: 9px;
}

.expense-tag>img {
    height: 30px;
    width: 30px;
    margin-bottom: 5px;
}

.select-tag {
    padding: 5px 10px !important;
    font-size: 14px;
    border-radius: 5px;
    color: #757d86;
    cursor: pointer;
}

.travel-composer article {
    margin-top: 10px;
    font-weight: bold;
    color: var(--currentThemeColor);
    margin-bottom: 5px;
}

.expense-checkbox-container {
    padding-top: 20px;
}

.travel-type {
    display: flex;
}