.composer-wrapper {
  height: 100%;
  width: 100%;
}

.composer-wrapper .avatar-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.composer-wrapper .avatar-wrapper img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  object-fit: cover;
  margin: 0 10px 0 0;
}
.composer-wrapper .avatar-wrapper h3 {
  margin: 0;
  font-weight: 500;
}

.composer-wrapper .avatar-wrapper .user-name {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.composer-wrapper .avatar-wrapper span {
  margin-left: 5px;
}

.composer-wrapper .avatar-wrapper .tagged-users {
  color: #2a8fff;
  font-weight: 500;
  margin-left: 5px;
  min-width: max-content;
}

.composer-wrapper .poll-options {
  display: flex;
}

.composer-wrapper button {
  font-size: 14px;
  border: none;
  background-color: transparent;
  margin: 0px 4px 15px 4px;
  padding: 0;
  cursor: pointer;
}
.composer-wrapper button:first-child {
  margin-left: 0;
}

.composer-wrapper .select-users {
  display: flex;
  /* align-items: center; */
  width: 100%;
  border: 1px solid #e2e8f6;
}

.composer-wrapper .select-users > div {
  flex: 1;
}

.composer-wrapper .select-users .badge {
  flex: unset;
  background: #e2e8f6;
  font-size: 12px;
  letter-spacing: 1px;
  font-weight: 700;
  padding: 8px 12px;
  border-right: 1px solid #e2e8f6;
  display: flex;
  align-items: center;
}

.composer-wrapper .select-users .c-multi-select {
  margin-bottom: 0 !important;
}

.composer-wrapper .select-users .c-multi-select div {
  border-radius: 0 !important;
}
.composer-wrapper .select-users .c-multi-select .ant-select-selector {
  border: unset !important;
  box-shadow: unset !important;
}

.composer-wrapper .preview-file {
  display: flex;
  flex-wrap: wrap;
  margin: 10px 0;
}

.composer-wrapper .preview-file > div {
  margin-right: 10px;
}

.composer-wrapper .uploader {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-top: -15px;
  padding-top: 15px;
}
.composer-wrapper .uploader .options {
  position: relative;
  display: flex;
  align-items: center;
  border-radius: 18px;
  margin: 0 5px;
  color: #404040;
  background: #f6f6f6;
  padding: 6px 12px;
  margin-top: 15px;
  cursor: pointer;
}
.composer-wrapper .uploader .options:first-child {
  margin-left: 0;
}

.composer-wrapper .uploader .options:hover {
  background-color: #ececec;
  transition: background-color 0.2ms ease-in;
}
.composer-wrapper .uploader .options .wrapper img {
  width: 18px;
  height: 18px;
  margin-right: 4px;
}
.composer-wrapper .uploader .options .wrapper span {
  font-size: 16px;
}
.composer-wrapper .uploader .options .wrapper {
  display: flex;
  align-items: center;
}
.composer-wrapper .uploader .options input {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: red;
  cursor: pointer;
}

.composer-wrapper .submit-wrapper {
  margin-top: 15px;
  display: flex;
  align-items: center;
}

.composer-wrapper .submit-wrapper .post-form {
  width: 100%;
  height: 36px;
  background-color: #345e95;
  border-radius: 6px;
  border: none;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Raleway, serif !important;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-left: 10px;
}
.composer-wrapper .submit-wrapper .dropdown-button {
  width: 36px;
  height: 36px;
  display: flex;
  display: -webkit-flex;
  align-items: center;
  justify-content: center;
  background: #ebebeb;
  border-radius: 6px;
  cursor: pointer;
  border: none;
}
.composer-wrapper .submit-wrapper .dropdown-button img {
  width: 16px;
  height: 16px;
}

.dropdown-wrapper {
  width: 100px;
  height: -webkit-max-content;
  height: max-content;
  flex-direction: column;
  padding: 8px 0;
  background: #ebebeb;
  border-radius: 6px;
  left: 0;
  margin-top: 4px;
}
.dropdown-wrapper > div {
  display: flex;
  display: -webkit-flex;
  align-items: center;
  padding: 4px 5px;
  width: 100%;
}
.dropdown-wrapper > div:hover {
  background-color: #e0e0e0;
  transition: background-color 0.2ms ease-in;
}
.dropdown-wrapper > div img {
  width: 14px;
  height: 14px;
  margin-right: 8px;
}
.dropdown-wrapper > div span {
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.5px;
  color: #727780;
}
