.formBtn {
    margin: 0px 4px;
}

.formBtn:hover {
    background: #1b5669;
}

.formBtn:focus {
    background: #1b5669;
    margin: 0px 4px;
}

.radioGroup {
    width: 100%;
    margin-bottom: 30px;
}

.radioContainer {
    width: 100%;
}

.radioGroupRow {
    width: 75%;
}

.allowanceTable .name {
    max-width: 122px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media (min-width: 1300px) and (max-width: 1400px) {
    .radioGroupRow {
        width: 80%;
    }
}