.memberTypeInput .ant-form-item-control-input {
  max-width: 250px;
  width: 250px;
}

.Card2 {
  border-radius: 6px;
  padding: 11px;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2);
}
