.dropdown-button {
    width: 36px;
    height: 36px;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    justify-content: center;
    background: #ebebeb;
    border-radius: 6px;
    cursor: pointer;
    border: none;
}

.dropdown-button img {
    width: 16px;
    height: 16px;
}

.dropdown-wrapper {
    width: 100px;
    height: max-content;
    flex-direction: column;
    padding: 8px 0;
    background: #ebebeb;
    border-radius: 6px;
    left: 0;
    margin-top: 4px;
}

.dropdown-wrapper>div {
    display: flex;
    display: -webkit-flex;
    align-items: center;
    padding: 4px 5px;
    width: 100%;
}

.dropdown-wrapper>div:hover {
    background: #e0e0e0;
    transition: background 0.2ms ease-in;
}

.dropdown-wrapper>div img {
    width: 14px;
    height: 14px;
    margin-right: 8px;
}

.dropdown-wrapper>div span {
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.5px;
    color: #727780;
}