.viewAppraisalBtn {
  border: 1px solid #fff;
  width: 9rem;
  border-radius: 10px;
  height: 2rem;
}
.appraisalFormBody {
  width: 100%;
  background: #fff;
  border: 1px solid #fff;
  border-radius: 7px;
  padding: 2rem;
}

.inputBox {
  width: 100%;
  background: #fff;
  min-height: 2.5rem;
  border: 0.5px solid #d9d9d9;
  border-radius: 5px;
  padding: 0px 10px 0px 10px;
}

.inputBoxCustomSelect {
  width: 100%;
  background: #fff;
  min-height: 2.5rem;
  border: 0.5px solid #d9d9d9;
  border-radius: 5px;
  padding: 0px 10px 0px 10px;
}

.inputBoxCustomSelect .ant-select .ant-select-selector {
  border: none;
}

.box {
  width: 100%;
  background: #fff;
  border: 0.5px solid #d9d9d9;
  height: 3.5rem;
  border-radius: 5px;
  padding: 0px 10px 0px 10px;
}

.promotionBox {
  width: 80%;
  background: #d9d9d9;
  padding: 1rem;
  border-radius: 5px;
}

.approvalBox {
  width: 100%;
  background: #d9d9d9;
  padding: 1rem;
  border-radius: 5px;
}

.range-picker .ant-picker-range{
  width: 100%;
}