.memberTypeInput .ant-form-item-control-input {
  max-width: 250px;
  width: 250px;
}

/* TODO:// cover image */
.coverImgWrapper {
  background-color: #111;
  position: relative;
  image-rendering: pixelated;
}

.coverImgWrapper:hover .profilepic__content {
  opacity: 1;
}

.coverImg__content:hover .profilepic__content {
  opacity: 0.5;
}

.profilepic__image {
  object-fit: cover;
  opacity: 1;
  transition: opacity 0.2s ease-in-out;
}

.profilepic__content {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 20;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.profilepic__icon {
  color: #fff;
  padding-bottom: 20px;
}
.profilepic__content .imageUpload {
  position: absolute;
  height: 100%;
  width: 100%;
  cursor: pointer;
}
.uploadIcon {
  font-size: 36px;
  color: #000;
  cursor: pointer;
}

/* modal css  */

.ant-modal .ant-modal-content {
  height: 86vh;
  min-height: 100vh;
  width: 100vw;
  max-width: 100vw;
  margin: 0;
  border-radius: 27px;
  background-color: #eef2f4;
  color: #727780;
}
.ant-modal-body {
  height: calc(100vh - 110px);
}
.expense-chart {
  height: 171.565px;
}
.modalWrapper,
.ant-modal-footer {
  display: none;
}
