.sticky_container {
  height: 400px;
  background: #ebecf0;
  width: 315px;
  max-height: 400px;
  position: absolute;
  left: 50%;
  cursor: pointer;
  border-radius: 5px;
  z-index: 10;
  bottom: 3px;
  transform: translate(11px, 456px);
}

.sticky-header {
  padding: 7px;
  cursor: move;
  z-index: 10;
  height: 40px;
  /* font-size: 14px; */
  letter-spacing: 1px;
  background-color: #0f4c81;
  border-radius: 5px;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.heading {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  font-size: 15px;
}
.close_Icon {
  margin: 3px;
}
.minimize-Icon {
  margin: 3px;
}
/* *********styling of card in container********** */
.right_Icons {
  font-size: 16px !important;
  font-weight: bold;
}

.left_Icon {
  font-size: 16px !important;
  font-weight: bold;
}

.margin_Icon {
  margin: 2px;
  /* color: black; */
}
.threedot_Icon {
  margin: 2px;
  text-decoration: none;
  color: white;
}
a.drop-downList {
  text-decoration: none;
  color: black;
}
/* .three-dot {
  font-size: 16px !important;
  font-weight: bold;
  margin-bottom: 3px;
} */
.time_delete {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.sticky_time {
  font-size: 10px;
  font-weight: bold;
}

.sticky_date {
  font-size: 10px;
  font-weight: bold;
  display: flex;
  margin: 5px;
  flex-direction: row-reverse;
}

.sticky_content {
  font-size: 10px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  padding-bottom: 5px;
  padding-top: 5px;
}



.noteList-container {
  padding: 5px;
  overflow-y: auto;
  overflow-x: hidden;
  height: 300px;
  max-height: 300px;
}

.sticky_container.minimize {
  height: 38px;
  bottom: 0;
  transform: unset !important;
}
.search_Box {
  margin: 5px;
  width: 300px;
}
.search_Box.hide {
  display: none;
}

.noteList-container.hide {
  display: none;
}

/* *********styling of sticky container*********** */
.stickyNote_container {
  box-shadow: 0 5px 5px -3px rgb(0 0 0 / 20%), 0 8px 10px 1px rgb(0 0 0 / 14%),
    0 3px 14px 2px rgb(0 0 0 / 12%);
  display: flex;
  /* z-index: 10; */
  bottom: 250px;
  /* left:10px; */
  flex-direction: column;
  background: white;
  border: none;
  resize: both;
  overflow: auto;
  width: 300px;
  height: 400px;
  max-width: 600px;
  min-height:270px;
  min-width: 270px;
  max-height: 600px;
  position: absolute;
  border-radius: 5px;
  cursor: move;
}
/* .stickyNote_container:not(:first-child) {
  transform: translate(20px * (n - 1), -20px * (n - 1)); 
} */
.sticky_titleContainer {
  background-color: #0f4c81;
  color: white;
  font-weight: bold;
  height: 30px;
  width: 200px;
  cursor: pointer;
  border: none;
}

.sticky_titleContainer:focus,
input:focus {
  outline: none;
}

.ant-dropdown-menu-item,
.ant-dropdown-menu-submenu-title {
  padding: 4px;
}

.stickyNoteItem-textarea {
  flex: 1;
  width: 100%;
  height:auto;
  max-width: 100%;
  max-height: 100%;
  outline: none;
  border: none;
  margin: 0;
  font-size: 16px;
  resize: none;
  padding: 5px;
}
.stickyNoteItem-textarea .ql-container.ql-snow {
  border: none;
}
.ql-toolbar.ql-snow + .ql-container.ql-snow {
  height: max-content !important;
}

.stickyNote_container .ant-input {
  outline: 0;
  border: none;
}

.stickyNote_container .ant-input-open {
  outline: 0;
  border: none;
}

.stickyNote_container .ant-input:active {
  outline: 0;
  border: none;
}

.stickyNote_container .ant-input:focus {
  outline: 0;
  border: none;
}

.stickyNote_container .ant-input:hover {
  outline: 0;
  border: none;
}

.stickyNote_header {
  padding: 7px;
  cursor: move;
  z-index: 10;
  height: 40px;
  letter-spacing: 1px;
  background-color: #0f4c81;
  border-radius: 5px;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.leftNote_Icon {
  font-size: 16px !important;
  font-weight: bold;
  /* margin-left: 10px !important; */
  justify-content: space-around !important;
}
.delete-close-icon{
  margin-left: 2px;
}
/* share styling */
.shareContainer {
  display: flex;
  flex-direction: row;
}
.user-box {
  align-items: center;
  margin: 5px;
  width: 100%;
}
.shareIcon {
  font-size: 20px !important;
  font-weight: bold !important;
  margin: 4px;
}
.textArea_container {
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
  overflow-y: scroll;
  position: relative;
  height: 100%;
}

.img-input-container {
  color: black;
  position: absolute;
  right: 15px;
  top: 15px;
  display: flex;
  flex-direction: row;
}

.img-input {
  position: absolute;

}
.visually-hidden {
  position: absolute;
  clip: rect(0, 0, 0, 0);
  width: 1px;
  height: 1px;
  overflow: hidden;
  white-space: nowrap;
}
.image_body {
  display: inline-block;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  padding: 14px;
  margin-top: 10px;
  justify-content: space-between;
}
img.ant-image-preview-img {
  /* display: inline-block; */
  width: 70%;
}
.ant-image-preview-operations-operation {
  display: none;
}
.image {
  width: 50px !important;
  height: 40px !important;
  border-radius: 12px;
  margin: 3px;
}

/* *****************sticky color styling***************** */
.menu__popUp {
  /* background: #fdfdfd; */
  display: flex;
  width: 200px;
  flex-direction: column;
  cursor: pointer;
  position: absolute;
  z-index: 2;
  border: 1px solid #d2d2d2;
}

.color___LIST {
  display: flex;
  height: 30px;
}
