.createCareer .ant-form-item {
  margin-bottom: 5px;
}

.DetailCard h2 {
  font-size: 17px;
  font-weight: 700;
  margin-bottom: 0px;
}

.DetailCard h6 {
  color: #757d86;
  font-size: 14px;
}

.DetailCard h4 {
  color: var(--currentThemeColor);
  font-size: 14px;
  font-weight: 600;
  margin: 0px 0px 8px 0px !important;
}

.DetailCard p {
  color: #757d86;
  font-size: 12px;
}

.DetailCard .ItemDetails {
  justify-content: space-between;
}

.Card3 .ThemeBtn {
  z-index: 999;
  padding: 7px 14px;
}

.DetailCard .right {
  display: flex;
}

.DetailCard .linkDiv {
  display: flex;
  flex-direction: column;
}

.LinkTag {
  padding: 4px 7px;
  margin-top: 4px;
}

.LinkTag span {
  position: relative;
  top: -2px;
}

.DetailCard .IdTag {
  padding: 5px 12px;
}

.item {
  /* width: 50%; */
  margin: auto auto;
  height: min-content;
  border: 1px solid #ebebeb;
  background: #fff;
  display: flex;
  flex-direction: column;
  padding: 15px 0;
  box-sizing: border-box;
  /* margin-bottom: 12px; */
  border-radius: 6px;
  box-shadow: 0 3px 6px 0 rgb(0 0 0 / 16%);
  text-decoration: none;
  /* transition: 0.3s; */
  /* animation: bottomToTop 0.7s ease; */
}

.user-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.btn-container {
  margin: 5px !important;
}
.icon-btn {
  background-color: rgb(26, 86, 105);
  border-color: rgb(26, 86, 105) !important;
  margin: 10px;
}
