.statusTag {
  color: white !important;
  border-radius: 5px !important;
}
.Cancel {
  background-color: red !important;
}
.approved {
  background-color: green !important;
}
.inProcess {
  background-color: var(--primary_theme_color_green) !important;
}
.statusTag {
  padding: 4px 10px !important;
}
