.statusTag {
    color: white !important;
    border-radius: 5px !important;
}
.Cancel {
    background-color: red !important;
}
.approved {
    background-color: green !important;
}
.inProcess {
background-color: #1b5669 !important;
}
.statusTag {
    padding: 4px 10px !important;
}