.statusTag {
  color: white !important;
  border-radius: 5px !important;
}

.Cancel {
  background: red !important;
}

.approved {
  background: green !important;
}

.inProcess {
  background: var(--currentThemeColor) !important;
}

.statusTag {
  padding: 4px 10px !important;
}