.inputBox {
    width: 100%;
    background: #fff;
    min-height: 2.5rem;
    border: 0.5px solid #d9d9d9;
    border-radius: 5px;
    padding: 0px 10px 0px 10px;
    display: flex;
    align-items: center;
  }

  .question-box{
    width: 50%;
  }