.custom_tab .header,
.custom_tab .topBar,
.custom_tab .cont-body {
  width: 100%;
}
.textArea_container {
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
  overflow-y: scroll;
  position: relative;
}
.stickyNoteItem-textarea {
  flex: 1;
  width: 100%;
  max-width: 100%;
  max-height: 100%;
  outline: none;
  border: none;
  margin: 0;
  font-size: 16px;
  resize: none;
  padding: 5px;
}
.singleNote_header {
  padding: 7px;
  cursor: move;
  z-index: 10;
  height: 40px;
  /* font-size: 14px; */
  letter-spacing: 1px;
  background-color: #0f4c81;
  border-radius: 5px;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.sticky_titleContainer {
  background-color: #0f4c81;
  color: black;
  font-weight: bold;
  height: 30px;
  width: 200px;
  cursor: pointer;
  border: none;
}
.singleNote_container {
  box-shadow: 0 5px 5px -3px rgb(0 0 0 / 20%), 0 8px 10px 1px rgb(0 0 0 / 14%),
    0 3px 14px 2px rgb(0 0 0 / 12%);
  border-radius: 5px;
}
