/* .job-container{
    width: 300px;
    height:500px;
    background-color: white;
    border-radius: 5px;
    display: flex;
    position:absolute;
} */

.user-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.btn-container {
  margin: 5px !important;
}
.icon-btn {
  background-color: rgb(26, 86, 105);
  border-color: rgb(26, 86, 105) !important;
  margin: 10px;
}
