.editForm .e-tlt{
  font-size: 30px;
  font-weight: bold;
  height: max-content;
}
.editForm .e-desc{
  font-size: 14px;
  font-weight: bold;
}
.dragIcon{
  width: 30px;
  display: flex;
  justify-content: right;
  align-items: center;
}
.dragIcon > span{
  font-size: 20px;
}