/* .employeeSubmitButton {
  align-self: flex-end;
  margin-right: 70px;
  margin-top: 20px;
}

.employeeFormImage {
  width: 90px;
  height: 90px;
}

.epmloyeeDeleteIcon {
  font-size: 20px;
  color: var(--currentThemeColor);
}

@media screen and (min-width: 1700px) {
  .residentialAddress {
    grid-area: 3/ 1 / span 1 / span 2;
  }

  .permenantAddress {
    grid-area: 3/ 3 / span 1 / span 2;
  }
}

@media screen and (max-width: 700px) {
  .uploadImg {
    justify-content: center;
  }
}

.newCustomSelect {
  width: 100%;
}

.formItem_userTitle {
  margin-bottom: 0px !important;
}

/* 
.employeeForm>:nth-child(2) {
	grid-column: 3;
	grid-row: 1;
} */

/* .employeeForm>:nth-child(4),
:nth-child(8),
:nth-child(12),
:nth-child(16),
:nth-child(20),
:nth-child(24),
:nth-child(28),
:nth-child(32),
:nth-child(36),
:nth-child(40),
:nth-child(44),
:nth-child(48),
:nth-child(52) {
	order: 3;
} */

/* .employeeForm> :nth-child(1) {
  order: 1;
}

.employeeForm .ant-form .ant-form-item .ant-form-item-control,
.employeeForm .ant-form .ant-form-item .ant-form-item-label {
  flex: none;
}

.employeeForm .ant-col .ant-form-item-label {
  text-align: inherit !important;
  font-weight: 500;
}

.employeeForm .ant-form-horizontal .ant-form-item-label {
  text-align: start;
} */
.employeeCard {
  padding: 20px;
  text-align: center;
  background: #fff;
  border-radius: 5px;
}

.employeeCard__header {
  margin-bottom: 10px;
}

.employeeCard__header--img .ant-avatar {
  width: 64px;
  height: 64px;
  display: inline-flex;
  align-items: center;
  background-color: #000;
}

.employeeCard__body p {
  margin: 0;
  font-weight: 600;
  color: var(--currentThemeColor);
  text-transform: capitalize;
}

.employeeCard__body span {
  font-size: 10px;
  color-scheme: #ccc;
  display: block;
  line-height: 1;
}

.employeeCard__body .buttonGroup {
  margin-top: 10px;
  display: flex;
  gap: 8px;
  justify-content: center;
}

.employeeCard__body .buttonGroup button {
  height: 26px;
  display: flex;
  align-items: center;

}

.employeeCard__body .ThemeBtn.disable {
  background: #ab2a2a !important;
  border-color: #ab2a2a !important;
}

.empolyeesListContainer {
  display: grid;
  margin-top: 5px;
  gap: 0.5rem;
  grid-template-columns: repeat(auto-fill, minmax(19rem, 1fr));
  height: fit-content;
  width: 100%;
}

.empolyeesListContainer.rtl {
  direction: rtl;
}