.SearchMainContainer {
  border-radius: 10px;
  min-width: 800px;
  margin: 0 auto;
  display: block;
  height: -moz-fit-content;
  height: fit-content;
  margin-bottom: 25px;
  padding: 10px;
}
.mainSearchContainer {
  margin: 0 auto;
}
.singleGroupItem {
  border-radius: 8px;
  height: fit-content;
  border: 1px solid #ada2a2;
  overflow: hidden;
}
.groupContainer {
  width: 100%;
  display: grid;
  margin-top: 5px;
  gap: 0.8rem;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  height: -moz-fit-content;
  height: fit-content;
  background-color: white;
  margin-bottom: 10px;
  padding: 13px 25px 19px 18px;
  border-radius: 8px;
}
.containerHeading {
  font-size: 20px;
  font-weight: 600;
  margin-top: 6px;
}
.groupContainer h3 {
  font-size: 15px;
  margin-left: 8px;
}
.group-title {
  color: var(--currentThemeColor);
  font-size: 14px;
  font-weight: 600;
  margin: 0px 0px 0px 0px !important;
}
@media (min-width: 320px) and (max-width: 767px) {
  .SearchMainContainer {
    width: 100%;
    min-width: 100%;
  }
  .groupContainer {
    width: 100%;
    display: block;
    margin-top: 5px;
  }
  .singleGroupItem {
    width: 100%;
    margin-bottom: 5px;
  }
}

@media (min-width: 768px) and (max-width: 1100px) {
  .SearchMainContainer {
    width: 100%;
    min-width: 100%;
  }
  .groupContainer {
    width: 100%;
    display: grid;
    margin-top: 5px;
    gap: 0.8rem;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }
  .singleGroupItem {
    width: 100%;
    margin-bottom: 5px;
  }
}
.forNavBar {
  text-decoration: none !important;
  padding-right: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  color: var(--currentThemeColor);
  font-family: inherit;
  /* font-weight: 700; Replaced with actual value, as C# syntax is not applicable in CSS */
  font-size: 15px;
  position: relative;

}

.forNavBar::before {
  content: "";
  height: 100%;
  background: #365899;
  position: absolute;
  top: 0;
  left: 0;
}

.forNavBar:hover {
  color: var(--currentThemeColor);
}

.text:hover::before {
  width: 2px;
}

.forNavBar.active,
.forNavBar:active {
  background: var(--currentThemeColor);
  border-radius: 0 4px 4px 0;
  color: white;
}

.forNavBar.active > svg,
.forNavBar:active > svg {
  fill: white;
}

.forNavBar.active:hover,
.forNavBar:active:hover {
  color: var(--currentThemeColor);
  color: white;
}

.forNavBar.active:hover > svg,
.forNavBar:active:hover > svg {
  fill: white;
}

.forNavBar > svg {
  margin-right: 0.7rem;
  margin-left: 1rem;
}

.globalSearchInput {
  background-color: #f4f4f4;
  padding-left: 4px;
  width: 100%;
  height: 100%;
}
.searchBox{
  top: 0;
  right: 0;
  align-items: center;
  background: #f4f4f4;
  border-radius: 6px;
  width: 35px;
  padding-left: 10px;
  border: 1px solid rgb(198, 198, 198);
  /* justify-content: center; */
}
.iconValue{
  height: 20px;
  width: 20px;
  margin-right: 10px;
  margin-left: 10px;
  
}