.appSideBar {
  background-color: white;
  z-index: 3;
  position: absolute;
  right: 0;
  overflow: hidden;
  height: 100%;
  box-shadow: -3px 1px 5px 1px #eaeaea4a;
}

.appSideBarDefault {
  width: 80px;
}

.appSideBarDefault-Mob {
  display: none !important;
}

.appSideBar-rtl {
  right: unset !important;
  left: 0 !important;
}

.appSideBarOpen {
  /* width: 240px !important; */
  display: block !important;
  animation-name: sideBarOpenAnimation;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

.appSideBarClose {
  /* width: 80px !important; */
  display: block;
  animation-name: sideBarCloseAnimation;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

.appSideBarClose-Mob {
  /* width: 80px !important; */
  display: block !important;
  animation-name: sideBarCloseMobAnimation;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

.sideBarHead {
  height: 60px;

}

.sideBarHead>.headIcon {
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
}

.headIcon>img {
  height: 30px;
  cursor: pointer;
}

.sideBarList {
  padding-top: 10px;
  height: calc(100vh - 97px);
  overflow: auto;
  scroll-behavior: smooth;
}

.sideBarSearch {
  height: 45px;
}

.myDivider {
  width: 80%;
  height: 1px;
  background-color: #AAAAAA29;
  margin: auto;
}

.sideBarListItem {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 5px 0;
  cursor: pointer;
}

.chatSearchBoxHalf {
  background-color: #ebe9e9;
  border-radius: 7px;
  height: 30px;
  margin: 3px;
  color: #1A5669;
  font-size: 11px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.chatSearchBoxHalf>img {
  height: 17px;
}

.sideBarListName {
  padding: 0.5rem 0;
  margin-left: 10px;
  /* width: 160px; */
  height: 40px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 14px;
  align-self: center;
  font-weight: 700;
  border-bottom: 1px solid #AAAAAA29;
}

.hideSideBarItem {
  animation-name: hideSideBarItemAnimation;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

.unHideSideBarItem {
  animation-name: unHideSideBarItemAnimation;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

.tabbable-container-rtl {
  align-items: flex-end;
}

.hideMe {
  display: none;
}

@keyframes sideBarOpenAnimation {
  from {
    width: 80px;
  }

  to {
    width: 240px;
  }
}

@keyframes sideBarCloseAnimation {
  from {
    width: 240px;
  }

  to {
    width: 80px;
  }
}

@keyframes sideBarCloseMobAnimation {
  from {
    width: 240px;
  }

  to {
    width: 0px;
    display: none !important;
  }
}

@keyframes hideSideBarItemAnimation {
  from {
    opacity: 1;
    width: 160px;
  }

  to {
    opacity: 0;
    width: 0px;
  }
}

@keyframes unHideSideBarItemAnimation {
  from {
    opacity: 0;
    width: 0px;
    position: relative;
    left: 100px;
  }

  to {
    opacity: 1;
    width: 160px;
    position: relative;
    left: 0px;
  }
}