.MessengerCont {
  width: 100%;
  height: 97vh;
  display: flex;
  position: absolute;
}

.ConversationListCont {
  background: white;
  height: 100%;
  width: 300px;
  margin: 15px 10px;
  border-radius: 10px;
}

.ConversationList {
  height: calc(100% - 120px);
  overflow: auto;
}

.MessengerBox {
  position: relative;
  background: white;
  height: 100%;
  flex: 1;
  margin: 15px 10px;
  border-radius: 10px;
}

.ConversationListHead {
  height: 60px;
  border-bottom: 1px solid #aaaaaa29;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
}

.ConversationListHead>.HeadName {
  font-size: 18px;
  font-weight: 700;
  color: var(--currentThemeColor);
}

.ConversationListHead>.HeadIcon {
  width: 40px;
  font-size: 30px;
  font-weight: 700;
  color: var(--currentThemeColor);
  text-align: center;
  cursor: pointer;
}

.ConversationListSearch {
  /* background: wheat; */
  height: 60px;
  padding: 6px 10px;
}

.ConversationListSearch>div,
.MessengerInput>div {
  background: rgb(244, 244, 244);
  border-radius: 7px;
  height: 40px;
  margin: 3px;
  color: var(--currentThemeColor);
  font-size: 12px;
  display: flex;
  align-items: center;
  padding-left: 15px;
}

.ConversationListSearch>div>input {
  background: transparent;
  height: 100%;
  width: 83%;
  border: none;
  margin: 0 5px;
}


.MessengerInput>div>input {
  background: transparent;
  height: 100%;
  width: 100%;
  border: none;
  margin: 0 10px;
  /* padding-left: 15px; */
}

.ConversationListSearch>div>img {
  height: 16px;
  margin: 0 10px;
}

input:focus {
  outline: none;
}

.ConversationListItem {
  display: flex;
  height: 60px;
  align-items: center;
  border-bottom: 1px solid #aaaaaa29;
  padding: 0 10px;
  animation-name: topToBottom;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  cursor: pointer;
}

.ConversationListItem>.ItemNameCont {
  flex: 1;
  /* background: rgb(223, 189, 255); */
  padding: 0 0px 0px 8px;
}

.ItemNameCont>.ItemName {
  color: var(--currentThemeColor);
  font-size: 14px;
  font-weight: 700;
  /* background: brown; */
  width: 200px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-bottom: 3px;
}

.ConversationListItem>.ItemDP {
  display: flex;
  justify-content: center;
}

.ItemLastMsgCont {
  display: flex;
  justify-content: space-between;
  margin-right: 5px;
}

.ItemLastMsgCont>.ItemLastMsg {
  /* background: brown; */
  width: 130px;
  font-size: 12px;
  color: #757d86;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.ItemLastMsgCont>.ItemLastMsgTime {
  /* background: brown; */
  width: 80px;
  font-size: 10px;
  color: black;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: right;
}

.MessengerBox {
  padding: 10px 30px;
}

.MessengerHead {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  border-bottom: 1px solid #aaaaaa29;
}

.MessengerHeadAvatar {
  width: 50px;
}

.MessengerHeadAvatar>img {
  display: none;
}

.MessengerHeadName {
  flex: 1;
}

.MessengerHeadName>div {
  font-size: 18px;
  font-weight: 700;
  color: var(--currentThemeColor);
  padding-left: 10px;
}

.MessengerProfile .user {
  /* margin-top: 20vh; */
  text-align: center;
}

.MessengerProfile .user .name {
  font-size: 18px;
  font-weight: 700;
  color: var(--currentThemeColor);
}

.MessengerProfile .user .desc {
  font-size: 14px;
  font-weight: 700;
  color: var(--currentThemeColor);
}

.MessengerProfile .actions {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  cursor: pointer;
}

.MessengerProfile .actions .actionImg1 {
  width: 25px;
  margin-right: 20px;
}

.MessengerProfile .actions .actionImg2 {
  width: 30px;
}

.MessengerHeadIcon {
  /* background: rgb(255, 77, 77); */
  width: 120px;
  /* display: flex; */
}

.MessengerHeadIcon>div {
  display: flex;
  justify-content: space-between;
}

.MessengerHeadIcon>div>img {
  width: 25px;
}

.MessengerHeadIcon>div>.videoIcon {
  width: 28px;
}

.MessengerList {
  /* background: rgb(104, 255, 247); */
  height: calc(100% - 120px);
  padding: 10px 0;
  overflow: auto;
  scroll-behavior: smooth;
}

.MessengerBottom {
  /* background: rgb(229, 255, 189); */
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
}

.MessengerListItem {
  display: flex;
  margin-top: 25px;
  animation-name: rightToLeft;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  flex-direction: row;
}

.MessengerListItem-ME {
  display: flex;
  margin-top: 25px;
  animation-name: leftToRight;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  flex-direction: row-reverse;
}

.MessageBubble {
  background: rgb(244, 244, 244);
  color: black;
  width: max-content;
  margin: 0 10px;
  padding: 5px 10px 8px 10px;
  ;
  font-size: 13px;
  max-width: 350px;
  word-wrap: break-word;
  border-radius: 0px 10px 10px 10px;
  position: relative;
}

.MessengerListItem-ME>.MessageBubble {
  border-radius: 10px 0px 10px 10px;
  background: var(--currentThemeColor);
  color: rgb(221, 221, 221);
}

.MessengerInputCont {
  /* background: brown; */
  flex: 3;
}

.MessengerInputHandler {
  /* flex: 1; */
  /* min-width: 120px; */
}

.MessengerInputHandler>div {
  display: flex;
  justify-content: space-around;
}

.MessengerInputHandler .actionBtn {
  height: 23px;
  margin: 0 10px;
  cursor: pointer;
}

.MessengerListItem>.MessageBubble::before {
  content: "";
  position: absolute;
  border-right: 10px solid rgb(244, 244, 244);
  border-bottom: 10px solid transparent;
  top: 0;
  left: -10px;
}

.MessengerListItem-ME>.MessageBubble::before {
  content: "";
  position: absolute;
  border-bottom: 10px solid transparent;
  border-left: 10px solid var(--currentThemeColor);
  top: 0;
  right: -10px;
}

.openMobileMessenger {
  transform: translateX(-100vw);
  transition: 0.5s;
}

.closeMobileMessenger {
  transform: translateX(0vw);
  transition: 0.5s;
}

.MessengerProfile {
  position: absolute;
  top: 1px;
  margin: 0px 0px 0px -29px;
  width: -webkit-fill-available;
  border-radius: 10px;
  height: 100%;
}

.MessengerProfile .imgHolder {
  /* border-radius: 50%; */
  background: white;
  box-shadow: 0px 0px 8px 1px #ebebeb;
  border-radius: 20px;
  padding: 15px;
  animation-name: profileImg;
  animation-duration: 0.8s;
  animation-fill-mode: forwards;
}

.MessengerProfile .imgHolder .profileImg {
  /* height: 70%; */
  width: 30%;
  margin: 10px auto;
  border-radius: 50%;
}

.blur-bg {
  filter: blur(8px);
  -webkit-filter: blur(8px);
  transition: 0.2s;
}

.EmptyMessengerIcon {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 20px;
}

.EmptyMessengerIcon>img {
  margin-top: 10px;
  width: 300px;
}

.emojiCont {
  position: absolute;
  bottom: 65px;
  left: 20px;
}

.createChat .ant-drawer-header {
  display: none;
}

.createChat .ant-drawer-body {
  padding: 0px;
  display: flex;
  flex-direction: column;
}

.createChat .uploadImg {
  display: inline-block;
}

.createChat .createChat__header {
  padding: 0.4rem;
  display: flex;
  border-bottom: 1px solid #ccc;
}

.createChat .createChat__body {
  display: flex;
  flex: 1;
}

.createChat .selectMemberList {
  background: #f5f6f7;
  width: 50%;
}

.createChat .selectMemberList__header {
  display: flex;
  justify-content: space-between;
  padding: 15px 5px;
}

.createChat .selectMemberList__header p {
  font-size: 12px;
  font-weight: 600;
  margin: 0;
}

.createChat .createChat__header input {
  border: none;
  font-size: 14px;
}

.createChat .uploadImg .ant-upload.ant-upload-select-picture-card,
.ant-upload-list-picture-card-container {
  border: 3px dashed #d9d9d9;
  width: 60px;
  height: 60px;
  margin: 0;
}

.createChat .ant-upload-picture-card-wrapper {
  width: auto;
}

.memberCard {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.3rem 1.2rem 0.3rem 0.8rem;
  gap: 5px;
}

.memberCard:hover {
  background: #f4f4f4;
  cursor: pointer;
}

.memberCard .radio {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid #dcdcdc;
  box-sizing: border-box;
  display: flex;
}

.memberCard .radio.checked {
  border: none;
}

.memberList {
  width: 100%;
}

.memberList .memberList__header {
  padding: 8px;
}

.memberCard.active {
  opacity: 0;
  width: 100%;
  animation: 0.7s transitionToTop 0.4s forwards;
}

/* .selectedMembers .memberCard {
    opacity: 0;
animation:0.1s visibleDelay 0.4s forwards;
} */
.memberList .memberList__header input {
  border-radius: 0;
}

.memberCard__body {
  flex: 1;
}

.memberCard__body p {
  margin: 0;

  color: #2c3647;
}

.memberCard__body p:first-child {
  font-size: 13px;
  line-height: 1;
}

.memberCard__body p:nth-child(2) {
  font-size: 11px;
}

.messengerUpload {
  position: absolute;
  bottom: 50px;
}

.messengerUpload .ant-upload-select {
  height: 60px !important;
  width: 60px !important;
  margin-left: 10px;
}

.messengerUpload .ant-upload {
  font-size: 11px;
}

.recordBlink {
  animation-name: visibleDelay;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  /* animation-fill-mode: forwards; */
}

.messageStatus {
  display: flex;
  justify-content: right;
  gap: 5px;
  align-items: center;
  padding-left: 10px;
  width: 50px;
  margin-bottom: -7px;
  margin-right: -3px;
}

.messageStatus .messageTime {
  font-weight: bold;
  font-size: 10px;
}

.textMsgArea {
  word-wrap: break-word;
  word-break: break-all;
  flex: 1;
}




audio::-webkit-media-controls-panel {
  background-color: var(--currentThemeColor) !important;
}

audio::-webkit-media-controls-mute-button,
audio::-webkit-media-controls-play-button {
  /* background-color: red !important; */
}


@keyframes visibleDelay {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes transitionToTop {
  from {
    bottom: -100px;
  }

  to {
    opacity: 0;
    bottom: 0px;
    position: relative;
  }
}

@media (max-width: 800px) {
  .MessengerCont {
    margin-top: 35px;
  }
}

@media (max-width: 500px) {
  .MessengerCont {
    height: 96vh;
  }

  .ConversationListCont {
    width: 95vw;
  }

  .ConversationList {
    width: 95vw;
  }

  .MessengerBox {
    width: 98vw;
    padding: 5px 10px;
    margin: 8px 5px;
  }

  .ItemNameCont>.ItemName {
    width: 70vw;
  }

  .MessengerHeadAvatar-Mob {
    display: flex;
  }

  .MessengerHeadAvatar {
    width: 60px;
  }

  .MessengerHeadAvatar-Mob>img {
    display: inline-block;
    width: 20px;
    margin-right: 5px;
  }

  .MessengerInputHandler>div>img {
    height: 20px;
    margin: 0 5px;
  }

  .MessengerHeadName>div {
    font-size: 16px;
  }

  .MessengerHeadIcon>div>img {
    width: 20px;
  }

  .MessengerHeadIcon>div>.videoIcon {
    width: 24px;
  }

  .MessengerHeadIcon {
    width: 110px;
  }

  .MessengerHead {
    height: 50px;
  }

  .MessageBubble {
    align-self: center;
    padding: 8px 10px;
    font-size: 12px;
    max-width: 300px;
  }

  .MessengerListItem {
    margin-top: 15px;
  }

  .MessengerListItem-ME {
    margin-top: 15px;
  }

  .MessengerList {
    padding: 0;
  }

  .ItemLastMsgCont>.ItemLastMsg {
    width: 50vw;
  }

  .ItemLastMsgCont>.ItemLastMsgTime {
    width: 20vw;
  }

  .MessengerCont {
    position: fixed;
    width: unset;
  }

  .MessengerInput>div>input {
    padding-left: 0px;
  }
}

@keyframes rightToLeft {
  from {
    position: relative;
    right: 100px;
    opacity: 0;
  }

  to {
    position: relative;
    right: 0px;
    opacity: 1;
  }
}

@keyframes leftToRight {
  from {
    position: relative;
    left: 100px;
    opacity: 0;
  }

  to {
    position: relative;
    left: 0px;
    opacity: 1;
  }
}

@keyframes topToBottom {
  from {
    position: relative;
    top: 50px;
    opacity: 0;
  }

  to {
    position: relative;
    top: 0px;
    opacity: 1;
  }
}

@keyframes profileImg {
  from {
    position: relative;
    top: 15px;
    left: 15px;
    /* height: 40px; */
    width: 40px;
    width: 250px;
    opacity: 0;
  }

  to {
    position: relative;
    top: 20vh;
    left: 50%;
    transform: translate(-50%);
    width: 250px;
    opacity: 1;
  }
}